@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  object-fit: cover;
}

.swiper-container {
  max-width: 100%;
}

.swiper-button-prev{
  position: relative !important;
  top: unset !important;
  right: unset !important;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.swiper-button-next{
  position: relative !important;
  top: unset !important;
  right: unset !important;
}

.swiper-pagination-bullet{
  width: 100px !important;
  border-radius: 0 !important;
  height: 3px  !important;  
}

.swiper-pagination-bullet-active{
  background: #C1BBB3 !important;
}

.swiper-pagination-bullet:last-child{
  display: none;
}

@media (max-width: 600px) {
  .swiper-pagination-bullet{
    width: 60px !important;
  }
}
