@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  object-fit: cover;
}

.swiper-container {
  max-width: 100vw;
}

.swiper-button-prev{
  position: relative !important;
  top: unset !important;
  right: unset !important;
  margin-right: 1rem;
}

.swiper-button-next{
  position: relative !important;
  top: unset !important;
  right: unset !important;
}