---
title: Taisho Yakiniku Franquia
layout: "base.njk"
cssPath: "/css/agradecimento.css"
---

<section class="agradecimento">
  <img class="logo" src="/img/svg/logo-taisho.svg" alt="">

  <div class="thankyou-card">
    <h1>Obrigado pelo interesse, iremos entrar em contato em breve!</h1>
  </div>
  <img class="backgroundImg" src="/img/banner-1.jpg" alt="">
</section>