---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---

<header data-aos="zoom-out-down">
    <img class="desktop-only" src="../img/pages/alergologia/alergologia-header.png" alt="" />
    <img class="mobile-only" src="../img/pages/alergologia/alergo-header-mob.png" alt="" />
  
    <div class="wrap-icon">
      <a href="/">
        <img src="../img/pages/logo-header.png" alt="" />
      </a>
      <a href="/">Início</a>
    </div>
    <div class="wrap-header">
      <h1>
        Alergologia e<br />
        Imunologia
      </h1>
    </div>
</header>
  
<nav>
    <div>
      <a href="/cirurgias" ><h4>Cirurgia plástica facial</h4></a>
    </div>
    <div>
      <a href="/otorrinolaringologia"><h4>Otorrinolaringologia geral</h4></a>
    </div>
    <div>
      <a href="/audiometria"><h4>Audiometria</h4></a>
    </div>
    <div>
      <a>
        <h4 class="selected">Alergologia e imunologia</h4>
      </a>
    </div>
    <div>
      <a><h4>Dermatologia</h4></a>
    </div>
</nav>

<section class="viva" data-aos="zoom-in">
    <img src="../img/pages/alergologia/mariana.png" alt="">
    <div class="viva-right">
        <h1 class="desktop-only">Viva bem,<br>sem alergias.</h1>
        <h1 class="mobile-only">Viva bem, sem alergias.</h1>
        <p>Dra. Mariana Rosa - Médica Especialista em Alergia e Imunologia. <br/><br/>Participa constantemente dos principais eventos científicos da sua especialidade, aplicando no consultório o que há de mais atual no tratamento de Rinite, Sinusite, Asma, Baixa Imunidade, Candidíase e Herpes de repetição, Conjuntivite alérgica, Alergia a alimentos, Picadas de mosquito, Dermatite atópica e de contato, Urticárias, Alergia a medicamentos e outras doenças do Sistema imunológico.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
</section>

<section class="respiratorias" data-aos="zoom-in-left">
<h2>ALERGIAS <span>RESPIRATÓRIAS</span></h2>
<p>Asma alérgica, rinite alérgica e conjuntivite alérgica são as três principais alergias. Os sintomas surgem após contato com ácaros, pelos, caspas de animais, pólens e fungos.</p>
<div class="wrap-respiratorias">
    <div class="item-respiratorias">
        <img src="../img/pages/alergologia/rinite.png" alt="">
        <h5>RINITE ALÉRGICA</h5>
        <p>Espirros, coceira no nariz, na garganta, secreção nasal transparente, nariz entupido.</p>
    </div>
    <div class="item-respiratorias">
        <img src="../img/pages/alergologia/asma.png" alt="">
        <h5>ASMA ALÉRGICA</h5>
        <p>Tosse seca, falta de ar, chiado no peito, cansaço, queda de saturação de oxigênio.</p>
    </div>
    <div class="item-respiratorias">
        <img src="../img/pages/alergologia/conjuntivite.png" alt="">
        <h5>CONJUNTIVITE ALÉRGICA</h5>
        <p>Os sintomas são coceira, vermelhidão, inchaço, lacrimejamento e secreção.</p>
    </div>
</div>
<a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>

</section>

<section class="dermatologicas">
    <h2>ALERGIAS <span>DERMATOLÓGICAS</span></h2>
    <p>Dermatite atópica, Dermatite de contato, Urticárias são algumas das alergias que surgem na pele. O diagnóstico é feito através de uma consulta detalhada e exames direcionados para cada tipo de lesão.</p>
    <div class="wrap-dermatologicas">
        <div class="item-dermatologicas" >
            <img src="../img/pages/alergologia/urticaria.png" alt="">
            <div class="texto">
                <h4>URTICÁRIA</h4>
                <p>Irritação da pele caracterizada por lesões avermelhadas e levemente inchadas, como vergões, que aparecem na pele e coçam muito.</p>
            </div>
        </div>
        <div class="item-dermatologicas" >
            <img src="../img/pages/alergologia/atopica.png" alt="">
            <div class="texto">
                <h4>DERMATITE ATÓPICA</h4>
                <p>A dermatite atópica caracteriza-se pelo aparecimento de lesões na pele, irritação e coceira.</p>
            </div>
        </div>
        <div class="item-dermatologicas" >
            <img src="../img/pages/alergologia/contato.png" alt="">
            <div class="texto">
                <h4>DERMATITE DE CONTATO</h4>
                <p>Inflamação da pele causada por contato direto com uma substância em particular ou cosméticos.</p>
            </div>
        </div>
    </div>
</section>

<section class="outras">
    <h2>OUTRAS <span>ALERGIAS</span></h2>
    <div class="wrap-outras">
        <p>Outras alergias também são comuns e prejudicam nosso dia a dia como: Alergia a Medicamentos, Alergia Alimentar, Alergia a Insetos (mosquitos, formiga, abelhas, vespas, marimbondos), Alergia ao Látex e Anafilaxia (Alergia grave).</p>
        <div class="right-outras">
            <p>Não espere piorar, descubra o que está causando sua alergia.</p>
            <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
        </div>
    </div>
</section>







{% include 'footer.njk' %}
