---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---


<header>
    <img class="desktop-only" src="../img/pages/pediatrica/pediatrica-header.png" alt="" />
    <img class="mobile-only" src="../img/pages/pediatrica/pediatrica-header-mob.png" alt="" />
  
    <div class="wrap-icon">
      <a href="/">
        <img src="../img/pages/logo-header.png" alt="" />
      </a>
      <a href="/">Início</a>
    </div>
    <div class="wrap-header">
      <h1 class="smaller">
        Alergologia e<br/>
        Imunologia <br/>
        Pediátrica
      </h1>
    </div>
</header>
  
<nav>
    <div>
      <a href="/cirurgias" ><h4>Cirurgia plástica facial</h4></a>
    </div>
    <div>
      <a href="/otorrinolaringologia"><h4>Otorrinolaringologia geral</h4></a>
    </div>
    <div>
      <a href="/otologia"><h4>Otologia</h4></a>
    </div>
    <div>
      <a href="/otoneurologia"><h4>Otoneurologia</h4></a>
    </div>
    <div>
      <a href="/audiometria"><h4>Audiometria</h4></a>
    </div>
    <div>
      <a href="/alergologia">
        <h4>Alergologia e imunologia</h4>
      </a>
    </div>
    <div>
      <a href="/alergologia-pediatrica">
        <h4 class="selected">Alergologia e imunologia pediátrica</h4>
      </a>
    </div>
    <div>
      <a href="/dermatologia"><h4>Dermatologia</h4></a>
    </div>
    <div>
      <a href="/cardiologia"><h4>Cardiologia</h4></a>
    </div>
</nav>

<section class="background-gradient2">
  <section class="juliana">
      <img src="../img/pages/pediatrica/juliana.png" alt="">
      <div class="juliana-right">
          <h1 class="desktop-only">Crianças sem crises, famílias sem medo. Especialista em asma, rinite e dermatite atópica.</h1>
          <h1 class="mobile-only">Coração forte, corpo em alta performance.</h1>
          <p>
            A Dra. Juliana Murata é médica formada pela UFPR, com residência em Pediatria pelo Hospital Pequeno Príncipe e especializações em Pneumologia Pediátrica e Alergia e Imunologia pelo Hospital de Clínicas da UFPR.<br/>
            Titular nas áreas de Pediatria, Pneumologia Pediátrica e Alergia e Imunologia, dedica-se desde 2020 ao cuidado respiratório e imunológico de crianças e adolescentes, com atuação técnica, atualizada e acolhedora.
          </p>
          <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
      </div>
  </section>
  <section class="sabemos">
    <div class="left-sabemos">
      <p>Sabemos que ver um filho com dificuldade respiratória ou com a pele irritada gera uma angústia profunda. Meu trabalho é oferecer o controle que devolve a paz para a sua casa, tratando a causa e prevenindo as crises antes que elas comecem.</p>
      <div class="item-sabemos">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="30" cy="30" r="30" fill="#7A7169"/>
          <path d="M18.1818 41C17.847 41 17.5665 40.888 17.3404 40.664C17.1142 40.44 17.0008 40.1631 17 39.8333C16.9992 39.5035 17.1127 39.2267 17.3404 39.0027C17.5681 38.7787 17.8485 38.6667 18.1818 38.6667H41.8182C42.153 38.6667 42.4339 38.7787 42.6608 39.0027C42.8877 39.2267 43.0008 39.5035 43 39.8333C42.9992 40.1631 42.8858 40.4404 42.6596 40.6651C42.4335 40.8899 42.153 41.0015 41.8182 41H18.1818ZM20.5455 37.5C19.8955 37.5 19.3392 37.2717 18.8767 36.8152C18.4142 36.3586 18.1826 35.8091 18.1818 35.1667V22.3333C18.1818 21.6917 18.4135 21.1426 18.8767 20.686C19.34 20.2294 19.8962 20.0008 20.5455 20H39.4545C40.1045 20 40.6612 20.2287 41.1245 20.686C41.5877 21.1433 41.819 21.6924 41.8182 22.3333V35.1667C41.8182 35.8083 41.5869 36.3578 41.1245 36.8152C40.662 37.2725 40.1053 37.5008 39.4545 37.5H20.5455ZM20.5455 35.1667H39.4545V22.3333H20.5455V35.1667Z" fill="#E3DED8"/>
        </svg>
        <p>atendimentos presenciais e online</p>
      </div>
    </div>
    <img src="../img/pages/pediatrica/sabemos.png" alt="">
  </section>
</section>

<section class="asma">
  <div class="item-asma">
    <img src="../img/pages/pediatrica/asma.png" alt="">
    <div class="text-asma">
      <h3>Asma</h3>
      <p>Não é apenas uma tosse sem fim ou uma falta de ar, é a inflamação dos brônquios que impede a brincadeira. </p>
      <h4>objetivo do tratamento:</h4>
      <p>Pulmões fortes e uma criança que corre sem cansar.</p>
    </div>
  </div>
  <div class="item-asma">
    <div class="text-asma">
      <h3>Rinite</h3>
      <p>Aquele nariz trancado, cheiro de secreção e espirros que atrapalham o sono e o aprendizado.</p>
      <h4>objetivo do tratamento:</h4>
      <p>Noites tranquilas e dias com mais foco e disposição.</p>
    </div>
    <img src="../img/pages/pediatrica/rinite.png" alt="">
  </div>
  <div class="item-asma">
    <img src="../img/pages/pediatrica/dermatite.png" alt="">
    <div class="text-asma">
      <h3>Dermatite Atópica</h3>
      <p>Mais que uma coceira e uma pele ressecada, é um desconforto que afeta a barreira da pele.</p>
      <h4>objetivo do tratamento:</h4>
      <p>Silenciamento da coceira para que a criança volte a dormir a noite toda, recupere o foco nas brincadeiras e sinta-se confiante para interagir sem o medo das marcas na pele.</p>
    </div>
  </div>
  <div class="agende">
    <p>Agende uma consulta e proporcione ao seu filho o cuidado especializado que ele merece, com segurança, acompanhamento e prevenção de verdade.</p>
    <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
  </div>
</section>

{% include 'footer.njk' %}