---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---

<header data-aos="zoom-out-down">
  <img class="desktop-only" src="../img/pages/audiometria/audiometria-header.png" alt="" />
  <img class="mobile-only" src="../img/pages/audiometria/audio-header-mob.png" alt="" />

  <div class="wrap-icon">
    <a href="/">
      <img src="../img/pages/logo-header.png" alt="" />
    </a>
    <a href="/">Início</a>
  </div>
  <div class="wrap-header">
    <h1>
      Audiometria
    </h1>
  </div>
</header>

<nav>
  <div>
    <a href="/cirurgias" ><h4>Cirurgia plástica facial</h4></a>
  </div>
  <div>
    <a href="/otorrinolaringologia"><h4>Otorrinolaringologia geral</h4></a>
  </div>
  <div>
    <a href="/otologia"><h4>Otologia</h4></a>
  </div>
  <div>
    <a href="/otoneurologia"><h4>Otoneurologia</h4></a>
  </div>
  <div>
    <a><h4 class="selected">Audiometria</h4></a>
  </div>
  <div>
    <a href="/alergologia"
      ><h4>
        Alergologia e imunologia
      </h4></a
    >
  </div>
  <div>
    <a><h4>Dermatologia</h4></a>
  </div>
  <div>
    <a><h4>Cardiologia</h4></a>
  </div>
</nav>

<section class="exames" data-aos="fade-up-left">
<img src="../img/pages/audiometria/audiometria.png" alt="">
<div class="exames-right">
    <h1>Exames Audiológicos</h1>
    <p>Os exames audiológicos são realizados para avaliar a percepção, captação e interpretação dos sons. Os atendimentos de <b>fonoaudiologia</b> são realizados em uma sala com revestimento acústico e equipamentos modernos. O <b>audiômetro</b> e o <b>imitanciômetro</b> aliados ao atendimento especializado permitem um diagnóstico preciso.</p>
    <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
</div>
</section>

<section class="textos">
    <div class="textos-item">
        <h2>AUDIOMETRIA <span>TONAL</span></h2>
        <p>A audiometria tonal tem a finalidade de mensurar a intensidade mínima audível, ou seja, ele possibilita identificar quanto de perda auditiva há e onde a perda mais afeta.</p>
        <p>Neste exame, o fonoaudiólogo depende da resposta do paciente. No início deste exame, ele será orientado a se manifestar toda vez que ouvir o apito do exame.</p>
    </div>
    <div class="textos-item">
        <h2>AUDIOMETRIA <span>VOCAL</span></h2>
        <p>A audiometria vocal tem a finalidade de avaliar a habilidade de perceber e reconhecer os sons da fala, ou seja, neste exame, você ouvirá palavras e deverá repeti-las como ouviu.</p>
    </div>
    <div class="textos-item">
        <h2><span>IMITANCIOMETRIA</span></h2>
        <p>A imitanciometria mede a função e a integridade do sistema tímpano circular e da via de reflexo do estapédio, ou seja, nesse exame o paciente não precisa realizar nenhuma função, é um exame rápido e fácil de aplicar.</p>
    </div>
    <p>Conte com acompanhamento completo com profissionais capacitados para cuidar da sua audição</p>
    <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
</section>

{% include 'footer.njk' %}