---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---


<header>
    <img class="desktop-only" src="../img/pages/cardiologia/cardiologia-header.png" alt="" />
    <img class="mobile-only" src="../img/pages/cardiologia/cardiologia-header-mob.png" alt="" />
  
    <div class="wrap-icon">
      <a href="/">
        <img src="../img/pages/logo-header.png" alt="" />
      </a>
      <a href="/">Início</a>
    </div>
    <div class="wrap-header">
      <h1>
        Cardiologia
      </h1>
    </div>
</header>
  
<nav>
    <div>
      <a href="/cirurgias" ><h4>Cirurgia plástica facial</h4></a>
    </div>
    <div>
      <a href="/otorrinolaringologia"><h4>Otorrinolaringologia geral</h4></a>
    </div>
    <div>
      <a href="/otologia"><h4>Otologia</h4></a>
    </div>
    <div>
      <a href="/otoneurologia"><h4>Otoneurologia</h4></a>
    </div>
    <div>
      <a href="/audiometria"><h4>Audiometria</h4></a>
    </div>
    <div>
      <a href="/alergologia">
        <h4>Alergologia e imunologia</h4>
      </a>
    </div>
    <div>
      <a><h4>Dermatologia</h4></a>
    </div>
    <div>
      <a><h4 class="selected">Cardiologia</h4></a>
    </div>
</nav>

<section class="sandra">
    <img src="../img/pages/cardiologia/sandra.png" alt="">
    <div class="sandra-right">
        <h1 class="desktop-only">Coração forte, corpo<br>em alta performance.</h1>
        <h1 class="mobile-only">Coração forte, corpo em alta performance.</h1>
        <p>Dra. Sandra Valério é cardiologista e ecocardiografista, titulada pela Sociedade Brasileira de Cardiologia (SBC) e pelo Departamento de Imagem Cardiovascular (DIC), com mais de 10 anos de experiência.<br/><br/>Realiza exames cardiológicos e consultas em cardiologia clínica, com foco na saúde cardiovascular e no tratamento de condições como hipertensão, colesterol alto, diabetes tipo 2 e obesidade.</p>
    </div>
</section>

<section class="clinica">
    <h3>Cardiologia clínica, Cardiometabolismo e exames cardiológicos</h3>
    <p>Dra Sandra tem como característica principal uma abordagem personalizada focando nos pilares da vida saudável na sua consulta. Associando seus conhecimentos de cardiologia, nutrologia , fitoterapia e modulação intestinal consegue avaliar o paciente como um todo e decidir junto dele as melhores estratégias para atingir suas metas.</p>
    <p>Além das consultas, realiza alguns exames na clínica: eletrocardiograma, Doppler de carótidas e vertebrais, ecodopplercardiograma transtorácico e bioimpedância.</p>
    <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
    
</section>

<section class="atuacao">
    <h2>Doenças tratadas e áreas de atuação</span></h2>
    <div class="icones">
      <div class="item">
        <img src="../img/pages/cardiologia/hipertensao.svg" alt="" />
        <p>HIPERTENSÃO ARTERIAL SISTÊMICA</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/dislipidemia.svg" alt="" />
        <p>DISLIPIDEMIA (COLESTEROL ALTO )</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/obesidade.svg" alt="" />
        <p>OBESIDADE</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/avaliacao.svg" alt="" />
        <p>AVALIAÇÃO PRÉ-OPERATÓRIA</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/check.svg" alt="" />
        <p>CHECK-UP CARDIOLÓGICO</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/exames.svg" alt="" />
        <p>EXAMES CARDIOLÓGICOS</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/emagrecimento.svg" alt="" />
        <p>EMAGRECIMENTO</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/planos.svg" alt="" />
        <p>PLANOS DE ACOMPANHAMENTO</p>
      </div>
    </div>
</section>

<div class="background-gradient">
  <section class="ecodoppler">
      <div class="wrap-eco">
          <img
            class="desktop-only"
              src="../img/pages/cardiologia/ecodoppler.png"
              alt=""
          />
          <div class="right">
            <h2>ECODOPPLERCARDIOGRAMA <b>TRANSTORÁCICO</b></h2>
            <img
                class="mobile-only"
                src="../img/pages/cardiologia/ecodoppler-mob.png"
                alt=""
            />
          <p>O ecodopplercardiograma transtorácico é uma ferramenta diagnóstica valiosa que auxilia na avaliação da saúde cardiovascular e na tomada de decisões clínicas fundamentadas.</p>
          <p>Trata-se de um exame de imagem não invasivo, que utiliza ondas sonoras de alta frequência para analisar, em tempo real, a anatomia e a função do coração. É fundamental tanto para o diagnóstico quanto para o acompanhamento de diversas condições cardíacas, como insuficiência cardíaca, doenças valvulares, cardiopatias congênitas e hipertensão arterial sistêmica.</p>
          <div class="itens-bolinha">
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="" />
                <p>
                  Não há necessidade de preparação para o exame.
                </p>
              </div>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="" />
                <p>Duração : 20- 30 minutos.</p>
              </div>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="" />
                <p>
                  O exame é realizado com o paciente deitado na maca e um gel condutor a base de água é aplicado ao tórax do paciente para melhorar a qualidade das imagens pelo médico.
                </p>
              </div>
            </div>
          </div>
        </div>
       
      </div>
  </section>
  
  <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>

  <section class="eletrocardiograma">
    <h2>eletrocardiograma <b>(ECG)</b></h2>
    <img
          class="mobile-only"
          src="../img/pages/cardiologia/eletrocardiograma-mob.png"
          alt=""
        />
    <p>O eletrocardiograma (ECG) é um exame diagnóstico que registra a atividade elétrica do coração. Ele fornece informações sobre o ritmo cardíaco, a frequência e a condição geral do músculo cardíaco, auxiliando na identificação de problemas como arritmias, isquemia miocárdica, infarto do miocárdio e outras doenças cardíacas.</p>
    <div class="wrap-eletro">
      <div class="left">
          <div class="eletro-intro">
            <h3>Orientações para o exame:</h3>
          </div>
          <div class="itens-bolinha">
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="" />
                <p>
                  No dia do exame, recomenda-se que o paciente não utilize cremes ou loções corporais, pois podem interferir na qualidade dos eletrodos.
                </p>
              </div>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="" />
                <p>
                  Homens com pelos na região do tórax devem apará-los rente à pele com tesoura ou, se preferirem, podem raspar com lâmina de barbear, para facilitar a fixação dos eletrodos.
                </p>
              </div>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="" />
                <p>
                  Meia-calça e meias de compressão devem ser retiradas antes do exame, assim como relógios, pulseiras e outros acessórios que possam atrapalhar a colocação dos eletrodos.
                </p>
              </div>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="" />
                <p>
                  Duração : 10 minutos.
                </p>
              </div>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="" />
                <p>
                  O exame é realizado com o paciente deitado na maca e colocado sensores nos bracos, pernas e tórax para o registro elétrico.
                </p>
              </div>
            </div>
          </div>
        </div>
        <img
          class="desktop-only"
          src="../img/pages/cardiologia/eletrocardiograma.png"
          alt=""
        />
        
      </div>
  </section>

  <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
</div>
<div class="background-gradient">
  <section class="ecodoppler">
    <div class="wrap-eco">
        <img
            class="desktop-only"
            src="../img/pages/cardiologia/exame.png"
            alt=""
        />
        <div class="right">
          <h2>Exame de doppler de <br/><b>Carótidas e vertebrais</b></h2>
          <img
              class="mobile-only"
              src="../img/pages/cardiologia/exame-mob.png"
              alt=""
          />
        <p>
          O exame de Doppler das artérias carótidas e vertebrais é um procedimento não invasivo que avalia o fluxo sanguíneo nessas artérias, localizadas no pescoço. É fundamental para a detecção de anormalidades, como estenoses (estreitamentos), obstruções e para a análise da espessura médio-intimal, um importante marcador de risco cardiovascular.<br/>
          O exame é realizado com o paciente deitado em uma maca. Um gel condutor à base de água é aplicado no pescoço para facilitar a transmissão das ondas de ultrassom e melhorar a qualidade das imagens obtidas pelo médico.
        </p>
        <p>Não é necessário nenhum preparo prévio para a realização do exame.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
     
      </div>
     
    </div>
  </section>
  
  
  <section class="eletrocardiograma">
  <div class="wrap-eletro">
    <div class="left-bioimpedancia">
        <div class="eletro-intro">
          <h4>Bioimpedância</h4>
        </div>
        <img
        class="mobile-only"
        src="../img/pages/cardiologia/bioimpedancia-mob.png"
        alt=""
      />
        <p>O exame de bioimpedância é uma técnica que avalia a composição corporal, permitindo a mensuração de diferentes componentes, como massa muscular, massa de gordura e água corporal total.</p>
        <p>Trata-se de um método acessível, rápido e de fácil execução, ideal para a avaliação da obesidade e o acompanhamento de seu tratamento, tanto na fase de emagrecimento quanto na fase de manutenção.</p>
        <p>Além disso, é um excelente aliado para atletas amadores e profissionais, servindo como guia para escolhas nutricionais, suplementação, estratégias de recuperação (recovery) e até mesmo no ajuste de treinos em conjunto com preparadores físicos ou assessorias esportivas.</p>
        <p>
          Contraindicações: <br/>
          Gestantes e pacientes com marcapasso ou CDI.
        </p>
        <p>
          Duração: <br/>
          Aproximadamente 10 minutos.
        </p>
      </div>
      <img
        class="desktop-only"
        src="../img/pages/cardiologia/bioimpedancia.png"
        alt=""
      />
    </div>
  </section>

  <section class="orientacoes">
    <h2>Orientações para o exame:</span></h2>
    <div class="icones">
      <div class="item">
        <img src="../img/pages/cardiologia/jejum.svg" alt="" />
        <p>Jejum de 3 horas</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/esvaziar.svg" alt="" />
        <p>Esvaziar a bexiga antes do exame</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/relogio.svg" alt="" />
        <p>Retirar relógios, pulseiras e outros acessórios metálicos</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/roupas.svg" alt="" />
        <p>Usar roupas leves ou de academia</p>
      </div>
    </div>
    <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    <p>Alguns serviços são oferecidos apenas de forma particular. Nossa equipe está à disposição para esclarecer quaisquer dúvidas.</p>
  </section>
</div>


{% include 'footer.njk' %}