---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---


<header>
    <img class="desktop-only" src="../img/pages/cardiologia/cardiologia-header.png" alt="" />
    <img class="mobile-only" src="../img/pages/alergologia/alergo-header-mob.png" alt="" />
  
    <div class="wrap-icon">
      <a href="/">
        <img src="../img/pages/logo-header.png" alt="" />
      </a>
      <a href="/">Início</a>
    </div>
    <div class="wrap-header">
      <h1>
        Cardiologia
      </h1>
    </div>
</header>
  
<nav>
    <div>
      <a href="/cirurgias" ><h4>Cirurgia plástica facial</h4></a>
    </div>
    <div>
      <a href="/otorrinolaringologia"><h4>Otorrinolaringologia geral</h4></a>
    </div>
    <div>
      <a href="/otologia"><h4>Otologia</h4></a>
    </div>
    <div>
      <a href="/otoneurologia"><h4>Otoneurologia</h4></a>
    </div>
    <div>
      <a href="/audiometria"><h4>Audiometria</h4></a>
    </div>
    <div>
      <a href="/alergologia">
        <h4>Alergologia e imunologia</h4>
      </a>
    </div>
    <div>
      <a><h4>Dermatologia</h4></a>
    </div>
    <div>
      <a><h4 class="selected">Cardiologia</h4></a>
    </div>
</nav>

<section class="sandra">
    <img src="../img/pages/cardiologia/sandra.png" alt="">
    <div class="sandra-right">
        <h1 class="desktop-only">Coração forte, corpo<br>em alta performance.</h1>
        <h1 class="mobile-only">Coração forte, corpo em alta performance.</h1>
        <p>Dra. Sandra Valério é cardiologista e ecocardiografista, titulada pela Sociedade Brasileira de Cardiologia (SBC) e pelo Departamento de Imagem Cardiovascular (DIC), com mais de 10 anos de experiência.<br/><br/>Realiza exames cardiológicos e consultas em cardiologia clínica, com foco na saúde cardiovascular e no tratamento de condições como hipertensão, colesterol alto, diabetes tipo 2 e obesidade.</p>
    </div>
</section>

<section class="clinica">
    <h3>Cardiologia clínica, Cardiometabolismo e exames cardiológicos</h3>
    <p>Dra Sandra tem como característica principal uma abordagem personalizada focando nos pilares da vida saudável na sua consulta. Associando seus conhecimentos de cardiologia, nutrologia , fitoterapia e modulação intestinal consegue avaliar o paciente como um todo e decidir junto dele as melhores estratégias para atingir suas metas.</p>
    <p>Além das consultas, serão realizados alguns exames na clínica : eletrocardiograma, Doppler de carótidas e vertebrais, ecodopplercardiograma transtorácico e bioimpedância.</p>
    <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
    
</section>

<section class="atuacao">
    <h2>Doenças tratadas e áreas de atuação</span></h2>
    <div class="icones">
      <div class="item">
        <img src="../img/pages/cardiologia/hipertensao.svg" alt="" />
        <p>HIPERTENSÃO ARTERIAL SISTÊMICA</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/dislipidemia.svg" alt="" />
        <p>DISLIPIDEMIA (COLESTEROL ALTO )</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/obesidade.svg" alt="" />
        <p>OBESIDADE</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/avaliacao.svg" alt="" />
        <p>AVALIAÇÃO PRÉ-OPERATÓRIA</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/check.svg" alt="" />
        <p>CHECK-UP CARDIOLÓGICO</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/exames.svg" alt="" />
        <p>EXAMES CARDIOLÓGICOS</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/emagrecimento.svg" alt="" />
        <p>EMAGRECIMENTO</p>
      </div>
      <div class="item">
        <img src="../img/pages/cardiologia/planos.svg" alt="" />
        <p>PLANOS DE ACOMPANHAMENTO</p>
      </div>
    </div>
</section>

<section class="ecodoppler">
    <div class="wrap-eco">
        <img
            class="desktop-only"
            src="../img/pages/cirurgias/rinoplastia2.png"
            alt=""
        />
        <img
            class="mobile-only"
            src="../img/pages/cirurgias/rinoplastia2-mob.png"
            alt=""
        />
      <div class="left">
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Consulta online e presencial</h5>
          </div>
          <p>
            O Dr. Luciano examinará o seu nariz para compreender os seus
            objetivos.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Simulador de resultado cirúrgico</h5>
          </div>
          <p>
            O programa permite ao Dr. Luciano compreender a insatisfação
            estética do paciente, para que juntos realizem um esboço do que será
            feito no procedimento.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Agendamento da cirurgia</h5>
          </div>
          <p>
            O paciente deverá comparecer ao local pelo menos 1 hora antes do
            horário programado para assinar os documentos necessários e ser
            preparado para o procedimento.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Procedimento</h5>
          </div>
          <p>
            A cirurgia levará em torno de 1h30 e o paciente receberá alta no
            mesmo dia.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Recuperação</h5>
          </div>
          <p>
            O paciente utiliza curativo por sete dias e geralmente tem pouco
            edema e inchaço.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Cuidados pós-cirúrgicos</h5>
          </div>
          <p>
            Cumprir orientações de cuidado pós cirurgia e comparecer às
            consultas.
          </p>
        </div>
      </div>
     
    </div>
</section>

<!-- <section class="eletrocardiograma">
    <div class="fourth-intro">
      <h4>PASSO A PASSO</h4>
      <h2>COMO FUNCIONA O <br /><span>PROCEDIMENTO?</span></h2>
    </div>
    <div class="wrap-fourth">
      <div class="left">
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Consulta online e presencial</h5>
          </div>
          <p>
            O Dr. Luciano examinará o seu nariz para compreender os seus
            objetivos.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Simulador de resultado cirúrgico</h5>
          </div>
          <p>
            O programa permite ao Dr. Luciano compreender a insatisfação
            estética do paciente, para que juntos realizem um esboço do que será
            feito no procedimento.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Agendamento da cirurgia</h5>
          </div>
          <p>
            O paciente deverá comparecer ao local pelo menos 1 hora antes do
            horário programado para assinar os documentos necessários e ser
            preparado para o procedimento.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Procedimento</h5>
          </div>
          <p>
            A cirurgia levará em torno de 1h30 e o paciente receberá alta no
            mesmo dia.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Recuperação</h5>
          </div>
          <p>
            O paciente utiliza curativo por sete dias e geralmente tem pouco
            edema e inchaço.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Cuidados pós-cirúrgicos</h5>
          </div>
          <p>
            Cumprir orientações de cuidado pós cirurgia e comparecer às
            consultas.
          </p>
        </div>
      </div>
      <img
        class="desktop-only"
        src="../img/pages/cirurgias/rinoplastia2.png"
        alt=""
      />
      <img
        class="mobile-only"
        src="../img/pages/cirurgias/rinoplastia2-mob.png"
        alt=""
      />
    </div>
</section> -->

    
<section class="outras">
    <h2>OUTRAS <span>ALERGIAS</span></h2>
    <div class="wrap-outras">
            <p>Outras alergias também são comuns e prejudicam nosso dia a dia como: Alergia a Medicamentos, Alergia Alimentar, Alergia a Insetos (mosquitos, formiga, abelhas, vespas, marimbondos), Alergia ao Látex e Anafilaxia (Alergia grave).</p>
            <div class="right-outras">
                <p>Não espere piorar, descubra o que está causando sua alergia.</p>
                <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
            </div>
    </div>
</section>
    

{% include 'footer.njk' %}