---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---

<header data-aos="zoom-out-down">
  <img class="desktop-only" src="../img/pages/cirurgias/cirurgia-header.png" alt="" />
  <img class="mobile-only" src="../img/pages/cirurgias/cir-header-mobile.png" alt="" />

  <div class="wrap-icon">
    <a href="/">
      <img src="../img/pages/logo-header.png" alt="" />
    </a>
    <a href="/">Início</a>
  </div>
  <div class="wrap-header">
    <h1>
      Cirurgias <br />
      plásticas
    </h1>
  </div>
</header>

<nav>
  <div>
    <a><h4 class="selected">Cirurgias plásticas</h4></a>
  </div>
  <div>
    <a href="/otorrinolaringologia"><h4>Otorrinolaringologia</h4></a>
  </div>
  <div>
    <a href="/audiometria"><h4>Audiometria</h4></a>
  </div>
  <div>
    <a href="/alergologia"
      ><h4>
        Alergologia <br />
        e imunologia
      </h4></a
    >
  </div>
  <div>
    <a><h4>Dermatologia</h4></a>
  </div>
  
</nav>

<div class="selector">
  <button class="begeButton select selected upper" id="rinoplastia">
    Rinoplastia
  </button>
  <button class="begeButton select upper" id="otoplastia">Otoplastia</button>
  <button class="begeButton select upper" id="blefaroplastia">Blefaroplastia</button>
</div>
<section id="procedimento" >
  <div class="first" data-aos="fade-right" >
    <h1>RINOPLASTIA</h1>
    <div class="top-right">
      <p>
        O Dr Luciano preza por um resultado estético que resolva todos as
        imperfeições que incomodem os pacientes, garantindo, ao mesmo tempo, que
        se obtenha um resultado natural, sem feições de cirurgia plástica.
      </p>
      <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
    </div>
    <img src="../img/pages/cirurgias/rinoplastia.png" alt="" />
    <h2><span>BENEFÍCIOS DA RINOPLASTIA</span><br />COM O DR. LUCIANO</h2>
    <div class="bottom-right">
      <p>Anestesia local com sedação;</p>
      <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
      <p>
        Laser ultrassônico para corte e modelagem do osso (sem uso de martelo);
      </p>
      <p>Sem uso de Tampões;</p>
      <p>Rápida recuperação com alta no mesmo dia.</p>
    </div>
  </div>
  <div class="second">
    <h2>DIFERENCIAIS <span>DR. LUCIANO</span></h2>
    <div class="icones">
      <div class="item">
        <img src="../img/pages/cirurgias/foco.png" alt="" />
        <p>Foco no resultado harmonioso e natural</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/simulacao.png" alt="" />
        <p>Simulação com resultado cirúrgico</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/medico.png" alt="" />
        <p>Médico cirurgião com mais de 17 anos de experiência</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/consulta.png" alt="" />
        <p>Consulta online e presencial</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/cirurgia.png" alt="" />
        <p>Cirurgia combinada de otoplastia blefaroplastia ou septoplastia</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/aberta.png" alt="" />
        <p>Cirurgia aberta ou fechada</p>
      </div>
    </div>
    <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
  </div>
  <div class="third">
    <h2>QUANDO FAZER UMA <span>RINOPLASTIA?</span></h2>
    <p>Este é um procedimento que pode ser realizado para resolver diversas queixas e mudanças no nariz, como:</p>
    <div class="wrap-quando">
        <p>Ponta caída<br/> ou grossa</p>
        <p>Abertura <br/> nasal largada</p>
        <p>Nariz torto ou <br/>grande</p>
    </div>
    <a
    href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
    class="begeButton upper"
    >Agendar Avaliação</a
  >
  </div>
  <div class="fourth">
    <div class="fourth-intro">
        <h4>PASSO A PASSO</h4>
        <h2>COMO FUNCIONA O <br/><span>PROCEDIMENTO?</span></h2>
    </div>
    <div class="wrap-fourth">
        <div class="left">
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Consulta online e presencial</h5>
              </div>  
                <p>O Dr. Luciano examinará o seu nariz para compreender os seus objetivos.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Simulador de resultado cirúrgico</h5>
              </div>
                <p>O programa permite ao Dr. Luciano compreender a insatisfação estética do paciente, para que juntos realizem um esboço do que será feito no procedimento.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Agendamento da cirurgia</h5>
              </div>
                <p>O paciente deverá comparecer ao local pelo menos 1 hora antes do horário programado para assinar os documentos necessários e ser preparado para o procedimento.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Procedimento</h5>
              </div>
                <p>A cirurgia levará em torno de 1h30 e o paciente receberá alta no mesmo dia.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Recuperação</h5>
              </div>
                <p>O paciente utiliza curativo por sete dias e geralmente tem pouco edema e inchaço.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Cuidados pós-cirúrgicos</h5>
              </div>
                <p>Cumprir orientações de cuidado pós cirurgia e comparecer às consultas.</p>
            </div>
        </div>
        <img class="desktop-only"  src="../img/pages/cirurgias/rinoplastia2.png" alt="">
        <img class="mobile-only"  src="../img/pages/cirurgias/rinoplastia2-mob.png" alt="">
    </div>
  </div>
  <div class="fifth">
    <div class="wrap-fifth">
      <div class="fifth-left">
        <h2>PROCEDIMENTOS <span>ASSOCIADOS</span></h2>
        <p>Muitas vezes os pacientes necessitam realizar uma Septoplastia e/ou Turbinectomia (remoção de cornetos nasais), concomitantemente à Rinoplastia.</p>
      </div>
      <div class="fifth-right">
        <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programação cirúrgica pelo Otorrinolaringologista.</p>
        <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
      </div>

    </div>  

  </div>
</section>

<!-- <section class="perguntas">
  <h2><b>PERGUNTAS</b> FREQUENTES</h2>
  <div class="itens">
    <div class="item" onclick="toggleInfo('posso')">
      <h5>Posso realizar o procedimento de rinoplastia por convênio médico?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="posso">
        <p></p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('quanto')">
      <h5>Quanto custa o procedimento?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="quanto">
        <p></p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('local')">
      <h5>O local da consulta de avaliação e da cirurgia é o mesmo?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="local">
        <p></p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('outras')">
      <h5>
        É possível fazer outras cirurgias nasais juntamente com a rinoplastia?
      </h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="outras">
        <p></p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('como')">
      <h5>Como é feita a anestesia?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="como">
        <p></p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('cortes')">
      <h5>Como é feita a cirurgia? Os cortes são externos ou internos?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="cortes">
        <p></p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('tempo')">
      <h5>Qual é o tempo de cirurgia?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="tempo">
        <p></p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('tampao')">
      <h5>Usa-se tampão após a cirurgia?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="tampao">
        <p></p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('recuperacao')">
      <h5>Como é a recuperação com relação à dor e hematomas?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="recuperacao">
        <p></p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('retornar')">
      <h5>
        Em quanto tempo após a cirurgia posso retornar para o trabalho e
        atividades físicas?
      </h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="retornar">
        <p></p>
      </div>
    </div>
    <p>Ficou alguma dúvida?</p>
    <a
      target="_blank"
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
    >
      Entre em contato</a
    >
  </div>
</section> -->

{% include 'footer.njk' %}

<!-- Script que altera as paginas -->

<script>
  let selected = "rinoplastia";
  const section = document.getElementById("procedimento");

  const otoplastia = document.getElementById("otoplastia");
  otoplastia.addEventListener("click", () => {
    resetSelection();
    selected = "oto";
    otoplastia.classList.add("selected");
    updateSection();
  });
  const rinoplastia = document.getElementById("rinoplastia");
  rinoplastia.addEventListener("click", () => {
    resetSelection();
    selected = "rino";
    rinoplastia.classList.add("selected");
    updateSection();
  });
  const blefaroplastia = document.getElementById("blefaroplastia");
  blefaroplastia.addEventListener("click", () => {
    resetSelection();
    selected = "blefaro";
    blefaroplastia.classList.add("selected");
    updateSection();
  });

  function resetSelection() {
    rinoplastia.classList.remove("selected");
    otoplastia.classList.remove("selected");
    blefaroplastia.classList.remove("selected");
  }

  function updateSection() {
    if (selected === "rino") {
      section.innerHTML = `
<div class="first" data-aos="fade-right">
    <h1>RINOPLASTIA</h1>
    <div class="top-right">
      <p>
        O Dr Luciano preza por um resultado estético que resolva todos as
        imperfeições que incomodem os pacientes, garantindo, ao mesmo tempo, que
        se obtenha um resultado natural, sem feições de cirurgia plástica.
      </p>
      <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
    </div>
    <img src="../img/pages/cirurgias/rinoplastia.png" alt="" />
    <h2><span>BENEFÍCIOS DA RINOPLASTIA</span><br />COM O DR. LUCIANO</h2>
    <div class="bottom-right">
      <p>Anestesia local com sedação;</p>
      <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
      <p>
        Laser ultrassônico para corte e modelagem do osso (sem uso de martelo);
      </p>
      <p>Sem uso de Tampões;</p>
      <p>Rápida recuperação com alta no mesmo dia.</p>
    </div>
  </div>
  <div class="second">
    <h2>DIFERENCIAIS <span>DR. LUCIANO</span></h2>
    <div class="icones">
      <div class="item">
        <img src="../img/pages/cirurgias/foco.png" alt="" />
        <p>Foco no resultado harmonioso e natural</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/simulacao.png" alt="" />
        <p>Simulação com resultado cirúrgico</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/medico.png" alt="" />
        <p>Médico cirurgião com mais de 17 anos de experiência</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/consulta.png" alt="" />
        <p>Consulta online e presencial</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/cirurgia.png" alt="" />
        <p>Cirurgia combinada de otoplastia blefaroplastia ou septoplastia</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/aberta.png" alt="" />
        <p>Cirurgia aberta ou fechada</p>
      </div>
    </div>
    <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
  </div>
  <div class="third">
    <h2>QUANDO FAZER UMA <span>RINOPLASTIA?</span></h2>
    <p>Este é um procedimento que pode ser realizado para resolver diversas queixas e mudanças no nariz, como:</p>
    <div class="wrap-quando">
        <p>Ponta caída<br/> ou grossa</p>
        <p>Abertura <br/> nasal largada</p>
        <p>Nariz torto ou <br/>grande</p>
    </div>
    <a
    href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
    class="begeButton upper"
    >Agendar Avaliação</a
  >
  </div>
  <div class="fourth">
    <div class="fourth-intro">
        <h4>PASSO A PASSO</h4>
        <h2>COMO FUNCIONA O <br/><span>PROCEDIMENTO?</span></h2>
    </div>
    <div class="wrap-fourth">
        <div class="left">
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Consulta online e presencial</h5>
              </div>  
                <p>O Dr. Luciano examinará o seu nariz para compreender os seus objetivos.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Simulador de resultado cirúrgico</h5>
              </div>
                <p>O programa permite ao Dr. Luciano compreender a insatisfação estética do paciente, para que juntos realizem um esboço do que será feito no procedimento.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Agendamento da cirurgia</h5>
              </div>
                <p>O paciente deverá comparecer ao local pelo menos 1 hora antes do horário programado para assinar os documentos necessários e ser preparado para o procedimento.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Procedimento</h5>
              </div>
                <p>A cirurgia levará em torno de 1h30 e o paciente receberá alta no mesmo dia.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Recuperação</h5>
              </div>
                <p>O paciente utiliza curativo por sete dias e geralmente tem pouco edema e inchaço.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Cuidados pós-cirúrgicos</h5>
              </div>
                <p>Cumprir orientações de cuidado pós cirurgia e comparecer às consultas.</p>
            </div>
        </div>
        <img class="desktop-only" src="../img/pages/cirurgias/rinoplastia2.png" alt="">
        <img class="mobile-only"  src="../img/pages/cirurgias/rinoplastia2-mob.png" alt="">
    </div>
  </div>
  <div class="fifth">
    <div class="wrap-fifth">
      <div class="fifth-left">
        <h2>PROCEDIMENTOS <span>ASSOCIADOS</span></h2>
        <p>Muitas vezes os pacientes necessitam realizar uma Septoplastia e/ou Turbinectomia (remoção de cornetos nasais), concomitantemente à Rinoplastia.</p>
      </div>
      <div class="fifth-right">
        <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programação cirúrgica pelo Otorrinolaringologista.</p>
        <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
      </div>

    </div>  

  </div>
            `;
    } else if (selected === "oto") {
      section.innerHTML = `
 <div class="first" data-aos="fade-right">
    <h1>OTOPLASTIA</h1>
    <div class="top-right">
        <p>Melhore a posição e angulação de suas orelhas e com isso, destaque os aspectos positivos do seu rosto.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
    <img src="../img/pages/cirurgias/otoplastia.png" alt="">
    <h2><span>BENEFÍCIOS DA OTOPLASTIA</span><br/>COM O DR. LUCIANO</h2>
    <div class="bottom-right">
        <p>Anestesia local com sedação;</p>
        <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
        <p>Rápida recuperação, geralmente com pós-operatório indolor;</p>
        <p>Procedimento muito pouco invasivo;</p>
        <p>Alta no mesmo dia.</p>
    </div>
  </div>
  <div class="second">
    <h2>DIFERENCIAIS <span>DR. LUCIANO</span></h2>
    <div class="icones-2">
      <div class="item">
        <img src="../img/pages/cirurgias/foco.png" alt="" />
        <p>Foco no resultado harmonioso e natural</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/medico.png" alt="" />
        <p>Médico cirurgião com mais de 17 anos de experiência</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/consulta.png" alt="" />
        <p>Consulta online e presencial</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/cirurgia.png" alt="" />
        <p>Cirurgia combinada de otoplastia, blefaroplastia ou rinoplastia</p>
      </div>
    </div>
    <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
  </div>
  <div class="third">
    <h2>QUANDO FAZER UMA <span>OTOPLASTIA?</span></h2>
    <div class="wrap-quando2">
        <p>Correção das orelhas<br/>em abano, angulação<br/>das orelhas e/ou orelhas <br/>proeminentes</p>
        <p>Correção de<br/>deformações genéticas<br/>ou acidentais</p>
        <p>Redução de orelhas<br/>muito grandes e/ou<br/>desproporcionais</p>
        <p>Redução dos<br/>lóbulos aumentados</p>
    </div>
    <a
    href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
    class="begeButton upper"
    >Agendar Avaliação</a
  >
  </div>
  <div class="fourth">
    <div class="fourth-intro">
        <h4>PASSO A PASSO</h4>
        <h2>COMO FUNCIONA O <br/><span>PROCEDIMENTO?</span></h2>
    </div>
    <div class="wrap-fourth">
        <div class="left">
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Primeira consulta online ou presencial</h5>
              </div>  
                <p>O Dr. Luciano te examinará e indicará o procedimento adequado para você.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Agendamento da cirurgia</h5>
              </div>
                <p>O paciente deverá chegar com uma hora de antecedência na clínica e ficar 8 horas em jejum.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Procedimento</h5>
              </div>
                <p>A cirurgia leva em torno de 1 hora e meia e a alta será no mesmo dia.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Recuperação</h5>
              </div>
                <p>A cirurgia é pouco invasiva, e o paciente normalmente apresenta pouca dor. Curativos por 48-72 horas e os pontos são retirados em 14 dias.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Cuidados pós-cirúrgicos</h5>
              </div>
                <p>Cumprir orientações de cuidado pós cirurgia e comparecer às consultas.</p>
            </div>
        </div>
        <img class="desktop-only"  src="../img/pages/cirurgias/otoplastia2.png" alt="">
        <img class="mobile-only"  src="../img/pages/cirurgias/otoplastia2-mob.png" alt="">
    </div>
  </div>
            `;
    } else if (selected === "blefaro") {
      section.innerHTML = `
<div class="first" data-aos="fade-right">
    <h1>BLEFAROPLASTIA</h1>
    <div class="top-right">
        <p>Seus olhos e pálpebras sem flacidez ou bolsas criadas pelo envelhecimento. <br/>Rejuvenesça o terço superior do seu rosto com procedimento e alta no mesmo dia.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
    <img src="../img/pages/cirurgias/blefaroplastia.png" alt="">
    <h2><span>BENEFÍCIOS DA BLEFAROPLASTIA</span><br/>COM O DR. LUCIANO</h2>
    <div class="bottom-right">
        <p>Anestesia local com sedação;</p>
        <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
        <p>Rápida recuperação, geralmente com pós-operatório indolor;</p>
        <p>Procedimento muito pouco invasivo;</p>
        <p>Alta no mesmo dia.</p>
    </div>
  </div>
  <div class="second">
    <h2>DIFERENCIAIS <span>DR. LUCIANO</span></h2>
    <div class="icones-2">
      <div class="item">
        <img src="../img/pages/cirurgias/foco.png" alt="" />
        <p>Foco no resultado harmonioso e natural</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/medico.png" alt="" />
        <p>Médico cirurgião com mais de 17 anos de experiência</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/consulta.png" alt="" />
        <p>Consulta online e presencial</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/cirurgia.png" alt="" />
        <p>Cirurgia combinada de otoplastia, blefaroplastia ou rinoplastia</p>
      </div>
    </div>
    <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
  </div>
  <div class="third">
    <h2>QUANDO FAZER UMA <span>BLEFAROPLASTIA?</span></h2>
    <div class="wrap-quando">
        <p>Olhos cansados (caídos)</p>
        <p>Bolsas (principalmente<br/>nas pálpebras inferiores)</p>
        <p>Limitação do campo<br/>visual (excesso de pele)</p>
        <p>Olheiras</p>
    </div>
    <a
    href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
    class="begeButton upper"
    >Agendar Avaliação</a
  >
  </div>
  <div class="fourth">
    <div class="fourth-intro">
        <h4>PASSO A PASSO</h4>
        <h2>COMO FUNCIONA O <br/><span>PROCEDIMENTO?</span></h2>
    </div>
    <div class="wrap-fourth">
        <div class="left">
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Primeira consulta online ou presencial</h5>
              </div>  
                <p>O Dr. Luciano te examinará e indicará o procedimento adequado para você.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Agendamento da cirurgia</h5>
              </div>
                <p>O paciente deverá chegar com uma hora de antecedência na clínica e ficar 8 horas em jejum.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Procedimento</h5>
              </div>
                <p>A cirurgia leva em torno de 1 hora e meia e a alta será no mesmo dia.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Recuperação</h5>
              </div>
                <p>A cirurgia é pouco invasiva, e o paciente normalmente apresenta pouca dor. Curativos por 48-72 horas e os pontos são retirados em 14 dias.</p>
            </div>
            <div class="item" data-aos="flip-left">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Cuidados pós-cirúrgicos</h5>
              </div>
                <p>Cumprir orientações de cuidado pós cirurgia e comparecer às consultas.</p>
            </div>
        </div>
        <img class="desktop-only"  src="../img/pages/cirurgias/blefaroplastia2.png" alt="">
        <img class="mobile-only"  src="../img/pages/cirurgias/blefaroplastia2-mob.png" alt="">
    </div>
  </div>
            `;
    }
  }
</script>

<!-- Script do perguntas frequentes -->

<script>
  function toggleInfo(id) {
    const infoDiv = document.getElementById(id);
    const button = infoDiv.previousElementSibling;
    if (infoDiv.style.display === "none" || infoDiv.style.display === "") {
      reset();
      infoDiv.style.display = "block";
      button.textContent = "-";
    } else {
      infoDiv.style.display = "none";
      button.textContent = "+";
    }
  }
  function reset() {
    const info = document.getElementsByClassName("more-info");
    const button = document.getElementsByClassName("toggle-button");
    for (let i = 0; i < info.length; i++) {
      info[i].style.display = "none";
      button[i].textContent = "+";
    }
  }
</script>
