---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---

<header>
    <img class="desktop-only" src="../img/pages/cirurgia-header.png" alt="" />
    <img class="mobile-only" src="./img/banner-mobile.png" alt="" />
    
    <div class="wrap-icon">
        <img src="../img/pages/logo-header.png" alt="">
        <a href="/">Início</a>
    </div>
    <div class="wrap-header">
        <h2>
            Cirurgias <br/> plásticas
        </h2>
    </div>
</header>

<nav>
    <div>
      <a><h4 class="selected">Cirurgias plásticas</h4></a>
    </div>
    <div>
      <a href="/otorrinolaringologia"><h4>Otorrinolaringologia</h4></a>
    </div>
    <div>
      <a href="/audiometria"><h4>Audiometria</h4></a>
    </div>
    <div>
      <a href="/alergologia"><h4>Alergologia <br />
        e imunologia</h4></a>
    </div>
    <div>
      <a href="/dermatologia"><h4>Dermatologia</h4></a>
    </div>
    <div>
      <a href="/gastroenterologia"><h4>Gastroenterologia</h4></a>
    </div>
</nav>

<div class="selector">
    <button class="begeButton select selected" id="rinoplastia">RINOPLASTIA</button>
    <button class="begeButton select" id="otoplastia">OTOPLASTIA</button>
    <button class="begeButton select" id="blefaroplastia">BLEFAROPLASTIA</button>
</div>
<section id="procedimento">
    <h1>RINOPLASTIA</h1>
    <div class="top-right">
        <p>O Dr Luciano preza por um resultado estético que resolva todos as imperfeições que incomodem os pacientes, garantindo, ao mesmo tempo, que se obtenha um resultado natural, sem feições de cirurgia plástica.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton">Agendar Avaliação</a>
    </div>
    <img src="../img/pages/rinoplastia.png" alt="">
    <h2><span>BENEFÍCIOS DA RINOPLASTIA</span><br/>COM O DR. LUCIANO</h2>
    <div class="bottom-right">
        <p>Anestesia local com sedação;</p>
        <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
        <p>Laser ultrassônico para corte e modelagem do osso (sem uso de martelo);</p>
        <p>Sem uso de Tampões;</p>
        <p>Rápida recuperação com alta no mesmo dia.</p>
    </div>
</section>

<section class="perguntas">
      <h2><b>PERGUNTAS</b> FREQUENTES</h2>
    <div class="itens">
      <div class="item" onclick="toggleInfo('posso')">
        <h5>Posso realizar o procedimento de rinoplastia por convênio médico?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="posso">
          <p></p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('quanto')">
        <h5>Quanto custa o procedimento?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="quanto">
          <p></p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('local')">
        <h5>O local da consulta de avaliação e da cirurgia é o mesmo?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="local">
          <p></p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('outras')">
        <h5>É possível fazer outras cirurgias nasais juntamente com a rinoplastia?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="outras">
          <p></p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('como')">
        <h5>Como é feita a anestesia?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="como">
          <p></p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('cortes')">
        <h5>Como é feita a cirurgia? Os cortes são externos ou internos?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="cortes">
          <p></p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('tempo')">
        <h5>Qual é o tempo de cirurgia?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="tempo">
          <p></p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('tampao')">
        <h5>Usa-se tampão após a cirurgia?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="tampao">
          <p></p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('recuperacao')">
        <h5>Como é a recuperação com relação à dor e hematomas?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="recuperacao">
          <p></p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('retornar')">
        <h5>Em quanto tempo após a cirurgia posso retornar para o trabalho e atividades físicas?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="retornar">
          <p></p>
        </div>
      </div>
      <p>Ficou alguma dúvida?</p>
      <a target="_blank" href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper"> Entre em contato</a>
    </div>
  </section>

{% include 'footer.njk' %}


<script>
    let selected = 'rinoplastia';
    const section = document.getElementById('procedimento')

    const otoplastia = document.getElementById('otoplastia')
    otoplastia.addEventListener('click', () => {
        resetSelection()
        selected = 'oto'
        otoplastia.classList.add('selected')
        updateSection()
    })
    const rinoplastia = document.getElementById('rinoplastia')
    rinoplastia.addEventListener('click', () => {
        resetSelection()
        selected = 'rino'
        rinoplastia.classList.add('selected')
        updateSection()
    })
    const blefaroplastia = document.getElementById('blefaroplastia')
    blefaroplastia.addEventListener('click', () => {
        resetSelection()
        selected = 'blefaro'
        blefaroplastia.classList.add('selected')
        updateSection()
    })
    
    function resetSelection(){
        rinoplastia.classList.remove("selected")
        otoplastia.classList.remove("selected")
        blefaroplastia.classList.remove("selected")
    }

    function updateSection(){
        if (selected === 'rino') {
            section.innerHTML = `
                 <h1>RINOPLASTIA</h1>
    <div class="top-right">
        <p>O Dr Luciano preza por um resultado estético que resolva todos as imperfeições que incomodem os pacientes, garantindo, ao mesmo tempo, que se obtenha um resultado natural, sem feições de cirurgia plástica.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton">Agendar Avaliação</a>
    </div>
    <img src="../img/pages/rinoplastia.png" alt="">
    <h2><span>BENEFÍCIOS DA RINOPLASTIA</span><br/>COM O DR. LUCIANO</h2>
    <div class="bottom-right">
        <p>Anestesia local com sedação;</p>
        <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
        <p>Laser ultrassônico para corte e modelagem do osso (sem uso de martelo);</p>
        <p>Sem uso de Tampões;</p>
        <p>Rápida recuperação com alta no mesmo dia.</p>
    </div>

            `;
        } else if (selected === 'oto') {
            section.innerHTML = `
                 <h1>OTOPLASTIA</h1>
    <div class="top-right">
        <p>Melhore a posição e angulação de suas orelhas e com isso, destaque os aspectos positivos do seu rosto.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton">Agendar Avaliação</a>
    </div>
    <img src="../img/pages/otoplastia.png" alt="">
    <h2><span>BENEFÍCIOS DA OTOPLASTIA</span><br/>COM O DR. LUCIANO</h2>
    <div class="bottom-right">
        <p>Anestesia local com sedação;</p>
        <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
        <p>Rápida recuperação, geralmente com pós-operatório indolor;</p>
        <p>Procedimento muito pouco invasivo;</p>
        <p>Alta no mesmo dia.</p>
    </div>
            `;
        } else if (selected === 'blefaro') {
            section.innerHTML = `
                 <h1>BLEFAROPLASTIA</h1>
    <div class="top-right">
        <p>Seus olhos e pálpebras sem flacidez ou bolsas criadas pelo envelhecimento. <br/>Rejuvenesça o terço superior do seu rosto com procedimento e alta no mesmo dia.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton">Agendar Avaliação</a>
    </div>
    <img src="../img/pages/blefaroplastia.png" alt="">
    <h2><span>BENEFÍCIOS DA BLEFAROPLASTIA</span><br/>COM O DR. LUCIANO</h2>
    <div class="bottom-right">
        <p>Anestesia local com sedação;</p>
        <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
        <p>Rápida recuperação, geralmente com pós-operatório indolor;</p>
        <p>Procedimento muito pouco invasivo;</p>
        <p>Alta no mesmo dia.</p>
    </div>
            `;
        }
    }
    
</script>

<script>
    function toggleInfo(id) {
      
      const infoDiv = document.getElementById(id);
      const button = infoDiv.previousElementSibling;
        if (infoDiv.style.display === 'none' || infoDiv.style.display === '') {
          reset()
          infoDiv.style.display = 'block';
          button.textContent = '-';
        } else {
          infoDiv.style.display = 'none';
          button.textContent = '+';
        }
      }
    function reset(){
      const info = document.getElementsByClassName('more-info');
      const button = document.getElementsByClassName('toggle-button');
     for (let i=0; i < info.length; i++){
      info[i].style.display = "none"
      button[i].textContent = '+';
     } 
    }

</script>