---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---

<header data-aos="zoom-out-down">
  <img
    class="desktop-only"
    src="../img/pages/cirurgias/cirurgia-header.png"
    alt=""
  />
  <img
    class="mobile-only"
    src="../img/pages/cirurgias/cir-header-mobile.png"
    alt=""
  />

  <div class="wrap-icon">
    <a href="/">
      <img src="../img/pages/logo-header.png" alt="" />
    </a>
    <a href="/">Início</a>
  </div>
  <div class="wrap-header">
    <h1>
      Cirurgias <br />
      plásticas
    </h1>
  </div>
</header>

<nav>
  <div>
    <a><h4 class="selected">Cirurgia plástica facial</h4></a>
  </div>
  <div>
    <a href="/otorrinolaringologia"><h4>Otorrinolaringologia geral</h4></a>
  </div>
  <div>
    <a href="/otologia"><h4>Otologia</h4></a>
  </div>
  <div>
    <a href="/otoneurologia"><h4>Otoneurologia</h4></a>
  </div>
  <div>
    <a href="/audiometria"><h4>Audiometria</h4></a>
  </div>
  <div>
    <a href="/alergologia"
      ><h4>
        Alergologia e imunologia
      </h4></a
    >
  </div>
  <div>
    <a href="/alergologia-pediatrica"><h4>Alergologia e imunologia pediátrica</h4></a>
  </div>
  <div>
    <a href="/dermatologia"><h4>Dermatologia</h4></a>
  </div>
  <div>
    <a href="/cardiologia"><h4>Cardiologia</h4></a>
  </div>
</nav>

<div class="selector">
  <button class="begeButton select selected upper" id="rinoplastia">Rinoplastia</button>
  <button class="begeButton select upper" id="otoplastia">Otoplastia</button>
  <button class="begeButton select upper" id="blefaroplastia">Blefaroplastia</button>
</div>
<section id="procedimento">
  <div class="first" data-aos="fade-right">
    <h1>RINOPLASTIA</h1>
    <div class="top-right">
      <p>
        O Dr Luciano preza por um resultado estético que resolva todos as
        imperfeições que incomodem os pacientes, garantindo, ao mesmo tempo, que
        se obtenha um resultado natural, sem feições de cirurgia plástica.
      </p>
      <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
    </div>
    <img src="../img/pages/cirurgias/rinoplastia.png" alt="" />
    <h2><span>BENEFÍCIOS DA RINOPLASTIA</span><br />COM O DR. LUCIANO</h2>
    <div class="bottom-right">
      <p>Anestesia local com sedação;</p>
      <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
      <p>
        Laser ultrassônico para corte e modelagem do osso (sem uso de martelo);
      </p>
      <p>Sem uso de Tampões;</p>
      <p>Rápida recuperação com alta no mesmo dia.</p>
    </div>
  </div>
  <div class="second">
    <h2>DIFERENCIAIS <span>DR. LUCIANO</span></h2>
    <div class="icones">
      <div class="item">
        <img src="../img/pages/cirurgias/foco.png" alt="" />
        <p>Foco no resultado harmonioso e natural</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/simulacao.png" alt="" />
        <p>Simulação com resultado cirúrgico</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/medico.png" alt="" />
        <p>Médico cirurgião com mais de 17 anos de experiência</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/consulta.png" alt="" />
        <p>Consulta online e presencial</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/cirurgia.png" alt="" />
        <p>Cirurgia combinada de otoplastia blefaroplastia ou septoplastia</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/aberta.png" alt="" />
        <p>Cirurgia aberta ou fechada</p>
      </div>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="third">
    <h2>QUANDO FAZER UMA <span>RINOPLASTIA?</span></h2>
    <p>
      Este é um procedimento que pode ser realizado para resolver diversas
      queixas e mudanças no nariz, como:
    </p>
    <div class="wrap-quando">
      <p>
        Ponta caída<br />
        ou grossa
      </p>
      <p>
        Abertura <br />
        nasal largada
      </p>
      <p>Nariz torto ou <br />grande</p>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="fourth">
    <div class="fourth-intro">
      <h4>PASSO A PASSO</h4>
      <h2>COMO FUNCIONA O <br /><span>PROCEDIMENTO?</span></h2>
    </div>
    <div class="wrap-fourth">
      <div class="left">
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Consulta online e presencial</h5>
          </div>
          <p>
            O Dr. Luciano examinará o seu nariz para compreender os seus
            objetivos.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Simulador de resultado cirúrgico</h5>
          </div>
          <p>
            O programa permite ao Dr. Luciano compreender a insatisfação
            estética do paciente, para que juntos realizem um esboço do que será
            feito no procedimento.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Agendamento da cirurgia</h5>
          </div>
          <p>
            O paciente deverá comparecer ao local pelo menos 1 hora antes do
            horário programado para assinar os documentos necessários e ser
            preparado para o procedimento.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Procedimento</h5>
          </div>
          <p>
            A cirurgia levará em torno de 1h30 e o paciente receberá alta no
            mesmo dia.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Recuperação</h5>
          </div>
          <p>
            O paciente utiliza curativo por sete dias e geralmente tem pouco
            edema e inchaço.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Cuidados pós-cirúrgicos</h5>
          </div>
          <p>
            Cumprir orientações de cuidado pós cirurgia e comparecer às
            consultas.
          </p>
        </div>
      </div>
      <img
        class="desktop-only"
        src="../img/pages/cirurgias/rinoplastia2.png"
        alt=""
      />
      <img
        class="mobile-only"
        src="../img/pages/cirurgias/rinoplastia2-mob.png"
        alt=""
      />
    </div>
  </div>
  <div class="fifth">
    <div class="wrap-fifth">
      <div class="fifth-left">
        <h2>PROCEDIMENTOS <span>ASSOCIADOS</span></h2>
        <p>
          Muitas vezes os pacientes necessitam realizar uma Septoplastia e/ou
          Turbinectomia (remoção de cornetos nasais), concomitantemente à
          Rinoplastia.
        </p>
      </div>
      <div class="fifth-right">
        <p>
          Isso não muda a extensão da cirurgia e é fundamental o correto
          diagnóstico e programação cirúrgica pelo Otorrinolaringologista.
        </p>
        <a
          href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
          class="begeButton upper"
          >Agendar Avaliação</a
        >
      </div>
    </div>
  </div>
  <section class="perguntas">
    <h2><b>PERGUNTAS</b> FREQUENTES</h2>
    <div class="itens">
      <div class="item" onclick="toggleInfo('posso')">
        <h5>
          Posso realizar o procedimento de rinoplastia por convênio médico?
        </h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="posso">
          <p>
            A Consulta de avaliação pode ser realizada de forma particular ou pelos convênios Unimed, Bradesco, Caixa, Copel, Sanepar, Judicimed, Medservice.
            <br/><br/>
            Já a cirugia é feita de modo particular.
            <br/><br/>
            Alguns convênios cobrem a parte funcional da cirugia (como correção de desvio de septo). 
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('quanto')">
        <h5>Quanto custa o procedimento?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="quanto">
          <p>
            O custo da cirurgia varia de acordo com diversos fatores, como tempo
            de cirurgia, materiais utilizados e complexidade do caso. O
            orçamento pode ser feito após a avaliação individual em consulta.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('local')">
        <h5>O local da consulta de avaliação e da cirurgia é o mesmo?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="local">
          <p>
            As consultas e a cirurgia serão realizadas no mesmo hospital. A
            Novva Otorrino está localizada dentro do Hospital Los Angeles, onde
            realizamos os atendimentos clínicos. O hospital também conta com um
            centro cirúrgico completo para atender os pacientes.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('outras')">
        <h5>
          É possível fazer outras cirurgias nasais juntamente com a rinoplastia?
        </h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="outras">
          <p>
            Sim, é possível realizar outras cirurgias nasais funcionais junto
            com a rinoplastia. Também é possível realizar outras cirurgias para
            fins estéticos como otoplastia e blefaroplastia.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('como')">
        <h5>Como é feita a anestesia?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="como">
          <p>
            A anestesia para a cirurgia será definida pelo paciente em conjunto
            com o médico anestesista, de acordo com os resultados dos exames,
            preferência do paciente e consulta pré-anestésica. O paciente pode
            fazer a cirurgia com anestesia local e sedação ou anestesia geral.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('cortes')">
        <h5>Como é feita a cirurgia? Os cortes são externos ou internos?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="cortes">
          <p>
            A maioria das rinoplastias realizadas pelo Dr. Luciano Prestes são
            rinoplastias fechadas, uma técnica de cirurgia que realiza os
            cortes, incisões e suturas de maneira interna. Porém, alguns casos
            necessitam de uma rinoplastia aberta, que necessita de pequenas
            incisões externas, deixando cicatrizes imperceptíveis após a
            cirurgia.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('tempo')">
        <h5>Qual é o tempo de cirurgia?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="tempo">
          <p>
            A rinoplastia costuma durar em torno de 1h30min para a grande
            maioria dos pacientes. Porém, o tempo de cirurgia varia de acordo
            com a complexidade do caso, podendo variar de 1h a 5h de duração.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('tampao')">
        <h5>Usa-se tampão após a cirurgia?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="tampao">
          <p>
            Não se usa mais tampão nasal nas rinoplastias e outras cirurgias
            nasais.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('recuperacao')">
        <h5>Como é a recuperação com relação à dor e hematomas?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="recuperacao">
          <p>
            Normalmente, os pacientes não se queixam de dor. Nós prescrevemos
            analgésicos para dor caso necessário, mas a maioria dos pacientes
            não os utiliza. Os hematomas podem variar de paciente para paciente,
            em sua maioria eles somem em até 10 dias. O Dr. Luciano Prestes
            utiliza o piezo para realizar a rinoplastia ultrassônica, diminuindo
            os hematomas pós-cirúrgicos.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('retornar')">
        <h5>
          Quanto tempo após a cirurgia posso retornar para o trabalho e
          atividades físicas?
        </h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="retornar">
          <p>
            Normalmente, após 14 dias o paciente já pode retornar a todas as
            atividades, incluindo esforço físico em academias e esportes.
          </p>
        </div>
      </div>
      <p>Ficou alguma dúvida?</p>
      <a
        target="_blank"
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
      >
        Entre em contato</a
      >
    </div>
  </section>
</section>

{% include 'footer.njk' %}

<!-- Script que altera as paginas -->

<script>
  let selected = "rinoplastia";
  const section = document.getElementById("procedimento");

  const otoplastia = document.getElementById("otoplastia");
  otoplastia.addEventListener("click", () => {
    resetSelection();
    selected = "oto";
    otoplastia.classList.add("selected");
    updateSection();
  });
  
  const rinoplastia = document.getElementById("rinoplastia");
  rinoplastia.addEventListener("click", () => {
    resetSelection();
    selected = "rino";
    rinoplastia.classList.add("selected");
    updateSection();
  });
  
  const blefaroplastia = document.getElementById("blefaroplastia");
  blefaroplastia.addEventListener("click", () => {
    resetSelection();
    selected = "blefaro";
    blefaroplastia.classList.add("selected");
    updateSection();
  });

  function resetSelection() {
    rinoplastia.classList.remove("selected");
    otoplastia.classList.remove("selected");
    blefaroplastia.classList.remove("selected");
  }

  function updateSection() {

  switch (selected){
    case "rino":
      section.innerHTML = `
  <div class="first" data-aos="fade-right">
    <h1>RINOPLASTIA</h1>
    <div class="top-right">
      <p>
        O Dr Luciano preza por um resultado estético que resolva todos as
        imperfeições que incomodem os pacientes, garantindo, ao mesmo tempo, que
        se obtenha um resultado natural, sem feições de cirurgia plástica.
      </p>
      <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
    </div>
    <img src="../img/pages/cirurgias/rinoplastia.png" alt="" />
    <h2><span>BENEFÍCIOS DA RINOPLASTIA</span><br />COM O DR. LUCIANO</h2>
    <div class="bottom-right">
      <p>Anestesia local com sedação;</p>
      <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
      <p>
        Laser ultrassônico para corte e modelagem do osso (sem uso de martelo);
      </p>
      <p>Sem uso de Tampões;</p>
      <p>Rápida recuperação com alta no mesmo dia.</p>
    </div>
  </div>
  <div class="second">
    <h2>DIFERENCIAIS <span>DR. LUCIANO</span></h2>
    <div class="icones">
      <div class="item">
        <img src="../img/pages/cirurgias/foco.png" alt="" />
        <p>Foco no resultado harmonioso e natural</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/simulacao.png" alt="" />
        <p>Simulação com resultado cirúrgico</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/medico.png" alt="" />
        <p>Médico cirurgião com mais de 17 anos de experiência</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/consulta.png" alt="" />
        <p>Consulta online e presencial</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/cirurgia.png" alt="" />
        <p>Cirurgia combinada de otoplastia blefaroplastia ou septoplastia</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/aberta.png" alt="" />
        <p>Cirurgia aberta ou fechada</p>
      </div>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="third">
    <h2>QUANDO FAZER UMA <span>RINOPLASTIA?</span></h2>
    <p>
      Este é um procedimento que pode ser realizado para resolver diversas
      queixas e mudanças no nariz, como:
    </p>
    <div class="wrap-quando">
      <p>
        Ponta caída<br />
        ou grossa
      </p>
      <p>
        Abertura <br />
        nasal largada
      </p>
      <p>Nariz torto ou <br />grande</p>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="fourth">
    <div class="fourth-intro">
      <h4>PASSO A PASSO</h4>
      <h2>COMO FUNCIONA O <br /><span>PROCEDIMENTO?</span></h2>
    </div>
    <div class="wrap-fourth">
      <div class="left">
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Consulta online e presencial</h5>
          </div>
          <p>
            O Dr. Luciano examinará o seu nariz para compreender os seus
            objetivos.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Simulador de resultado cirúrgico</h5>
          </div>
          <p>
            O programa permite ao Dr. Luciano compreender a insatisfação
            estética do paciente, para que juntos realizem um esboço do que será
            feito no procedimento.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Agendamento da cirurgia</h5>
          </div>
          <p>
            O paciente deverá comparecer ao local pelo menos 1 hora antes do
            horário programado para assinar os documentos necessários e ser
            preparado para o procedimento.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Procedimento</h5>
          </div>
          <p>
            A cirurgia levará em torno de 1h30 e o paciente receberá alta no
            mesmo dia.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Recuperação</h5>
          </div>
          <p>
            O paciente utiliza curativo por sete dias e geralmente tem pouco
            edema e inchaço.
          </p>
        </div>
        <div class="item" >
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="" />
            <h5>Cuidados pós-cirúrgicos</h5>
          </div>
          <p>
            Cumprir orientações de cuidado pós cirurgia e comparecer às
            consultas.
          </p>
        </div>
      </div>
      <img
        class="desktop-only"
        src="../img/pages/cirurgias/rinoplastia2.png"
        alt=""
      />
      <img
        class="mobile-only"
        src="../img/pages/cirurgias/rinoplastia2-mob.png"
        alt=""
      />
    </div>
  </div>
  <div class="fifth">
    <div class="wrap-fifth">
      <div class="fifth-left">
        <h2>PROCEDIMENTOS <span>ASSOCIADOS</span></h2>
        <p>
          Muitas vezes os pacientes necessitam realizar uma Septoplastia e/ou
          Turbinectomia (remoção de cornetos nasais), concomitantemente à
          Rinoplastia.
        </p>
      </div>
      <div class="fifth-right">
        <p>
          Isso não muda a extensão da cirurgia e é fundamental o correto
          diagnóstico e programação cirúrgica pelo Otorrinolaringologista.
        </p>
        <a
          href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
          class="begeButton upper"
          >Agendar Avaliação</a
        >
      </div>
    </div>
  </div>
  <section class="perguntas">
    <h2><b>PERGUNTAS</b> FREQUENTES</h2>
    <div class="itens">
      <div class="item" onclick="toggleInfo('posso')">
        <h5>
          Posso realizar o procedimento de rinoplastia por convênio médico?
        </h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="posso">
          <p>
            A Consulta de avaliação pode ser realizada de forma particular ou pelos convênios Unimed, Bradesco, Caixa, Copel, Sanepar, Judicimed, Medservice.
            <br/><br/>
            Já a cirugia é feita de modo particular.
            <br/><br/>
            Alguns convênios cobrem a parte funcional da cirugia (como correção de desvio de septo). 
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('quanto')">
        <h5>Quanto custa o procedimento?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="quanto">
          <p>
            O custo da cirurgia varia de acordo com diversos fatores, como tempo
            de cirurgia, materiais utilizados e complexidade do caso. O
            orçamento pode ser feito após a avaliação individual em consulta.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('local')">
        <h5>O local da consulta de avaliação e da cirurgia é o mesmo?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="local">
          <p>
            As consultas e a cirurgia serão realizadas no mesmo hospital. A
            Novva Otorrino está localizada dentro do Hospital Los Angeles, onde
            realizamos os atendimentos clínicos. O hospital também conta com um
            centro cirúrgico completo para atender os pacientes.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('outras')">
        <h5>
          É possível fazer outras cirurgias nasais juntamente com a rinoplastia?
        </h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="outras">
          <p>
            Sim, é possível realizar outras cirurgias nasais funcionais junto
            com a rinoplastia. Também é possível realizar outras cirurgias para
            fins estéticos como otoplastia e blefaroplastia.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('como')">
        <h5>Como é feita a anestesia?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="como">
          <p>
            A anestesia para a cirurgia será definida pelo paciente em conjunto
            com o médico anestesista, de acordo com os resultados dos exames,
            preferência do paciente e consulta pré-anestésica. O paciente pode
            fazer a cirurgia com anestesia local e sedação ou anestesia geral.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('cortes')">
        <h5>Como é feita a cirurgia? Os cortes são externos ou internos?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="cortes">
          <p>
            A maioria das rinoplastias realizadas pelo Dr. Luciano Prestes são
            rinoplastias fechadas, uma técnica de cirurgia que realiza os
            cortes, incisões e suturas de maneira interna. Porém, alguns casos
            necessitam de uma rinoplastia aberta, que necessita de pequenas
            incisões externas, deixando cicatrizes imperceptíveis após a
            cirurgia.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('tempo')">
        <h5>Qual é o tempo de cirurgia?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="tempo">
          <p>
            A rinoplastia costuma durar em torno de 1h30min para a grande
            maioria dos pacientes. Porém, o tempo de cirurgia varia de acordo
            com a complexidade do caso, podendo variar de 1h a 5h de duração.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('tampao')">
        <h5>Usa-se tampão após a cirurgia?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="tampao">
          <p>
            Não se usa mais tampão nasal nas rinoplastias e outras cirurgias
            nasais.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('recuperacao')">
        <h5>Como é a recuperação com relação à dor e hematomas?</h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="recuperacao">
          <p>
            Normalmente, os pacientes não se queixam de dor. Nós prescrevemos
            analgésicos para dor caso necessário, mas a maioria dos pacientes
            não os utiliza. Os hematomas podem variar de paciente para paciente,
            em sua maioria eles somem em até 10 dias. O Dr. Luciano Prestes
            utiliza o piezo para realizar a rinoplastia ultrassônica, diminuindo
            os hematomas pós-cirúrgicos.
          </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('retornar')">
        <h5>
          Quanto tempo após a cirurgia posso retornar para o trabalho e
          atividades físicas?
        </h5>
        <span class="srOnly"></span>
        <span class="toggle-button">+</span>
        <div class="more-info" id="retornar">
          <p>
            Normalmente, após 14 dias o paciente já pode retornar a todas as
            atividades, incluindo esforço físico em academias e esportes.
          </p>
        </div>
      </div>
      <p>Ficou alguma dúvida?</p>
      <a
        target="_blank"
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
      >
        Entre em contato</a
      >
    </div>
  </section>
            `;
      break
    case "oto":
    section.innerHTML = `
 <div class="first" data-aos="fade-right">
    <h1>OTOPLASTIA</h1>
    <div class="top-right">
        <p>Melhore a posição e angulação de suas orelhas e com isso, destaque os aspectos positivos do seu rosto.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
    <img src="../img/pages/cirurgias/otoplastia.png" alt="">
    <h2><span>BENEFÍCIOS DA OTOPLASTIA</span><br/>COM O DR. LUCIANO</h2>
    <div class="bottom-right">
        <p>Anestesia local com sedação;</p>
        <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
        <p>Rápida recuperação, geralmente com pós-operatório indolor;</p>
        <p>Procedimento muito pouco invasivo;</p>
        <p>Alta no mesmo dia.</p>
    </div>
  </div>
  <div class="second">
    <h2>DIFERENCIAIS <span>DR. LUCIANO</span></h2>
    <div class="icones-2">
      <div class="item">
        <img src="../img/pages/cirurgias/foco.png" alt="" />
        <p>Foco no resultado harmonioso e natural</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/medico.png" alt="" />
        <p>Médico cirurgião com mais de 17 anos de experiência</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/consulta.png" alt="" />
        <p>Consulta online e presencial</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/cirurgia.png" alt="" />
        <p>Cirurgia combinada de otoplastia, blefaroplastia ou rinoplastia</p>
      </div>
    </div>
    <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
  </div>
  <div class="third">
    <h2>QUANDO FAZER UMA <span>OTOPLASTIA?</span></h2>
    <div class="wrap-quando2">
        <p>Correção das orelhas<br/>em abano, angulação<br/>das orelhas e/ou orelhas <br/>proeminentes</p>
        <p>Correção de<br/>deformações genéticas<br/>ou acidentais</p>
        <p>Redução de orelhas<br/>muito grandes e/ou<br/>desproporcionais</p>
        <p>Redução dos<br/>lóbulos aumentados</p>
    </div>
    <a
    href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
    class="begeButton upper"
    >Agendar Avaliação</a
  >
  </div>
  <div class="fourth">
    <div class="fourth-intro">
        <h4>PASSO A PASSO</h4>
        <h2>COMO FUNCIONA O <br/><span>PROCEDIMENTO?</span></h2>
    </div>
    <div class="wrap-fourth">
        <div class="left">
            <div class="item">
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Primeira consulta online ou presencial</h5>
              </div>  
                <p>O Dr. Luciano te examinará e indicará o procedimento adequado para você.</p>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Agendamento da cirurgia</h5>
              </div>
                <p>O paciente deverá chegar com uma hora de antecedência na clínica e ficar 8 horas em jejum.</p>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Procedimento</h5>
              </div>
                <p>A cirurgia leva em torno de 1 hora e meia e a alta será no mesmo dia.</p>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Recuperação</h5>
              </div>
                <p>A cirurgia é pouco invasiva, e o paciente normalmente apresenta pouca dor. Curativos por 48-72 horas e os pontos são retirados em 14 dias.</p>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Cuidados pós-cirúrgicos</h5>
              </div>
                <p>Cumprir orientações de cuidado pós cirurgia e comparecer às consultas.</p>
            </div>
        </div>
        <img class="desktop-only"  src="../img/pages/cirurgias/otoplastia2.png" alt="">
        <img class="mobile-only"  src="../img/pages/cirurgias/otoplastia2-mob.png" alt="">
    </div>
  </div>
  <section class="perguntas">
  <h2><b>PERGUNTAS</b> FREQUENTES</h2>
  <div class="itens">
    <div class="item" onclick="toggleInfo('posso')">
      <h5>Posso realizar o procedimento de otoplastia por convênio médico?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="posso">
        <p>
          A Consulta de avaliação pode ser realizada de forma particular ou pelos convênios Unimed, Bradesco, Caixa, Copel, Sanepar, Judicimed, Medservice.
          <br/><br/>
          Já a cirugia é feita de modo particular.
          <br/><br/>
          Alguns convênios cobrem a parte funcional da cirugia (como correção de desvio de septo). 
        </p>      
      </div>
    </div>
    <div class="item" onclick="toggleInfo('quanto')">
      <h5>Quanto custa o procedimento?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="quanto">
        <p>O custo do procedimento varia de acordo com o quadro individual de cada paciente, a causa da “orelha em abano”, o tempo estimado para a cirurgia e a idade do paciente. O orçamento só poderá ser apresentado após a avaliação individual em consulta.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('local')">
      <h5>O local da consulta de avaliação e da cirurgia é o mesmo?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="local">
        <p>As consultas e a cirurgia serão realizadas no mesmo hospital. A Novva Otorrino está localizada dentro do Hospital Los Angeles, onde realizamos os atendimentos clínicos. O hospital também conta com um centro cirúrgico completo para atender os pacientes.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('outras')">
      <h5>
        É possível fazer outras cirurgias juntamente com a otoplastia?
      </h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="outras">
        <p>A cirurgia de otoplastia pode ser realizada em conjunto com outras cirurgias como a rinoplastia e a blefaroplastia.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('como')">
      <h5>Como é feita a anestesia?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="como">
        <p>A anestesia para a cirurgia será definida pelo paciente em conjunto com o médico anestesista, de acordo com os resultados dos exames, preferência do paciente e consulta pré-anestésica. O paciente pode fazer a cirurgia com anestesia local e sedação ou anestesia geral.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('cortes')">
      <h5>Como é feita a cirurgia?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="cortes">
        <p>A cirurgia é feita por meio de uma incisão atrás da orelha, para acessar e manipular a cartilagem e realizar as suturas necessárias. A incisão ficará escondida após a cirurgia e não deixará cicatrizes visíveis.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('tempo')">
      <h5>Qual é o tempo de cirurgia?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="tempo">
        <p>O tempo aproximado de cirurgia é entre 1h30min e 2h.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('tampao')">
      <h5>Como é a recuperação com relação à dor e hematomas?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="tampao">
        <p>A recuperação é muito tranquila e poucos pacientes reclamam de dor. Por isso, a otoplastia é uma cirurgia realizada frequentemente em crianças, por volta dos 7 a 8 anos. Os hematomas costumam ficar escondidos.</p>
      </div>
    </div>
     <div class="item" onclick="toggleInfo('retornar')">
      <h5>
        Quanto tempo após a cirurgia posso retornar para o trabalho e
        atividades físicas?
      </h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="retornar">
        <p>Caso o trabalho do paciente não exija esforços físicos, ele pode retornar ao trabalho após a retirada da faixa, em 4 dias. O paciente só será liberado para esforços físicos, seja de trabalho ou exercícios, após 14 dias.</p>
      </div>
    </div>
    
    <p>Ficou alguma dúvida?</p>
    <a
      target="_blank"
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
    >
      Entre em contato</a
    >
  </div>
</section>
            `;
      break
    case "blefaro": 
      section.innerHTML = `
<div class="first" data-aos="fade-right">
    <h1>BLEFAROPLASTIA</h1>
    <div class="top-right">
        <p>Seus olhos e pálpebras sem flacidez ou bolsas criadas pelo envelhecimento. <br/>Rejuvenesça o terço superior do seu rosto com procedimento e alta no mesmo dia.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
    <img src="../img/pages/cirurgias/blefaroplastia.png" alt="">
    <h2><span>BENEFÍCIOS DA BLEFAROPLASTIA</span><br/>COM O DR. LUCIANO</h2>
    <div class="bottom-right">
        <p>Anestesia local com sedação;</p>
        <p>Acompanhamento pós-operatório por seis meses (sem custo adicional);</p>
        <p>Rápida recuperação, geralmente com pós-operatório indolor;</p>
        <p>Procedimento muito pouco invasivo;</p>
        <p>Alta no mesmo dia.</p>
    </div>
  </div>
  <div class="second">
    <h2>DIFERENCIAIS <span>DR. LUCIANO</span></h2>
    <div class="icones-2">
      <div class="item">
        <img src="../img/pages/cirurgias/foco.png" alt="" />
        <p>Foco no resultado harmonioso e natural</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/medico.png" alt="" />
        <p>Médico cirurgião com mais de 17 anos de experiência</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/consulta.png" alt="" />
        <p>Consulta online e presencial</p>
      </div>
      <div class="item">
        <img src="../img/pages/cirurgias/cirurgia.png" alt="" />
        <p>Cirurgia combinada de otoplastia, blefaroplastia ou rinoplastia</p>
      </div>
    </div>
    <a
        href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        class="begeButton upper"
        >Agendar Avaliação</a
      >
  </div>
  <div class="third">
    <h2>QUANDO FAZER UMA <span>BLEFAROPLASTIA?</span></h2>
    <div class="wrap-quando">
        <p>Olhos cansados (caídos)</p>
        <p>Bolsas (principalmente<br/>nas pálpebras inferiores)</p>
        <p>Limitação do campo<br/>visual (excesso de pele)</p>
        <p>Olheiras</p>
    </div>
    <a
    href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
    class="begeButton upper"
    >Agendar Avaliação</a
  >
  </div>
  <div class="fourth">
    <div class="fourth-intro">
        <h4>PASSO A PASSO</h4>
        <h2>COMO FUNCIONA O <br/><span>PROCEDIMENTO?</span></h2>
    </div>
    <div class="wrap-fourth">
        <div class="left">
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Primeira consulta online ou presencial</h5>
              </div>  
                <p>O Dr. Luciano te examinará e indicará o procedimento adequado para você.</p>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Agendamento da cirurgia</h5>
              </div>
                <p>O paciente deverá chegar com uma hora de antecedência na clínica e ficar 8 horas em jejum.</p>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Procedimento</h5>
              </div>
                <p>A cirurgia leva em torno de 1 hora e meia e a alta será no mesmo dia.</p>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Recuperação</h5>
              </div>
                <p>A cirurgia é pouco invasiva, e o paciente normalmente apresenta pouca dor. Curativos por 48-72 horas e os pontos são retirados em 14 dias.</p>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Cuidados pós-cirúrgicos</h5>
              </div>
                <p>Cumprir orientações de cuidado pós cirurgia e comparecer às consultas.</p>
            </div>
        </div>
        <img class="desktop-only"  src="../img/pages/cirurgias/blefaroplastia2.png" alt="">
        <img class="mobile-only"  src="../img/pages/cirurgias/blefaroplastia2-mob.png" alt="">
    </div>
  </div>
  <section class="perguntas">
  <h2><b>PERGUNTAS</b> FREQUENTES</h2>
  <div class="itens">
    <div class="item" onclick="toggleInfo('posso')">
      <h5>Posso realizar o procedimento de blefaroplastia por convênio médico?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="posso">
        <p>
          A Consulta de avaliação pode ser realizada de forma particular ou pelos convênios Unimed, Bradesco, Caixa, Copel, Sanepar, Judicimed, Medservice.
          <br/><br/>
          Já a cirugia é feita de modo particular.
          <br/><br/>
          Alguns convênios cobrem a parte funcional da cirugia (como correção de desvio de septo). 
        </p>      
      </div>
    </div>
    <div class="item" onclick="toggleInfo('quanto')">
      <h5>Quanto custa o procedimento?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="quanto">
        <p>O custo do procedimento varia de acordo com a complexidade do caso, levando em consideração o excesso de pele e gordura a ser retirado, se será apenas uma blefaroplastia superior, inferior ou ambas, idade do paciente e histórico. O orçamento só poderá ser apresentado após a avaliação individual em consulta.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('local')">
      <h5>O local da consulta de avaliação e da cirurgia é o mesmo?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="local">
        <p>As consultas e a cirurgia serão realizadas no mesmo hospital. A Novva Otorrino está localizada dentro do Hospital Los Angeles, onde realizamos os atendimentos clínicos. O hospital também conta com um centro cirúrgico completo para atender os pacientes.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('outras')">
      <h5>
        É possível fazer outras cirurgias juntamente com a blefaroplastia?
      </h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="outras">
        <p>A cirurgia de blefaroplastia pode ser realizada de maneira conjunta com outras cirurgias, como a rinoplastia e a otoplastia.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('como')">
      <h5>Como é feita a anestesia?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="como">
        <p>A anestesia para a cirurgia será definida pelo paciente em conjunto com o médico anestesista, de acordo com os resultados dos exames, preferência do paciente e consulta pré-anestésica. O paciente pode fazer a cirurgia com anestesia local e sedação ou anestesia de máscara laríngea. </p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('cortes')">
      <h5>Como é feita a cirurgia?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="cortes">
        <p>A cirurgia de blefaroplastia da pálpebra superior é feita através de uma incisão bem no sulco da pálpebra, para que não fique cicatrizes aparentes. Por meio da incisão, é retirado o excesso de pele e cauterizado o excesso de gordura da região. Na pálpebra inferior, normalmente, o motivo da cirurgia é o excesso de gordura. O acesso é realizado por meio transconjuntival, realizando a cauterização da bolsa de gordura.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('tempo')">
      <h5>Qual é o tempo de cirurgia?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="tempo">
        <p>O tempo de uma blefaroplastia superior varia entre 40 minutos e 1 hora. Já de uma blefaroplastia inferior leva em torno de 30 minutos. A blefaroplastia total, ou seja, uma blefaroplastia das 4 pálpebras, leva em torno de 1h30min.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('tampao')">
      <h5>Como é a recuperação com relação à dor e hematomas?</h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="tampao">
        <p>Os pacientes dificilmente sentem dor após a blefaroplastia. Os hematomas costumam durar de 7 a 10 dias.</p>
      </div>
    </div>
    <div class="item" onclick="toggleInfo('retornar')">
      <h5>
        Quanto tempo após a cirurgia posso retornar para o trabalho e
        atividades físicas?
      </h5>
      <span class="srOnly"></span>
      <span class="toggle-button">+</span>
      <div class="more-info" id="retornar">
        <p>O paciente pode retornar ao trabalho após a retirada dos pontos e do curativo, em 7 dias. Para atividades de esforço físico como esportes e academia, somente após 14 dias.</p>
      </div>
    </div>
    
    <p>Ficou alguma dúvida?</p>
    <a
      target="_blank"
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
    >
      Entre em contato</a
    >
  </div>
</section>
            `;
      break
  }
  }
</script>

<!-- Script do perguntas frequentes -->

<script>
  function toggleInfo(id) {
    const infoDiv = document.getElementById(id);
    const button = infoDiv.previousElementSibling;
    if (infoDiv.style.display === "none" || infoDiv.style.display === "") {
      reset();
      infoDiv.style.display = "block";
      button.textContent = "-";
    } else {
      infoDiv.style.display = "none";
      button.textContent = "+";
    }
  }
  function reset() {
    const info = document.getElementsByClassName("more-info");
    const button = document.getElementsByClassName("toggle-button");
    for (let i = 0; i < info.length; i++) {
      info[i].style.display = "none";
      button[i].textContent = "+";
    }
  }
</script>
