---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---


<header>
    <img class="desktop-only" src="../img/pages/dermatologia/header.png" alt="" />
    <img class="mobile-only" src="../img/pages/dermatologia/header-mob.png" alt="" />
  
    <div class="wrap-icon">
      <a href="/">
        <img src="../img/pages/logo-header.png" alt="" />
      </a>
      <a href="/">Início</a>
    </div>
    <div class="wrap-header center">
      <h1>
        Dermatologia <br/>
        e Tricologia
      </h1>
    </div>
</header>
  
<nav>
    <div>
      <a href="/cirurgias" ><h4>Cirurgia plástica facial</h4></a>
    </div>
    <div>
      <a href="/otorrinolaringologia"><h4>Otorrinolaringologia geral</h4></a>
    </div>
    <div>
      <a href="/otologia"><h4>Otologia</h4></a>
    </div>
    <div>
      <a href="/otoneurologia"><h4>Otoneurologia</h4></a>
    </div>
    <div>
      <a href="/audiometria"><h4>Audiometria</h4></a>
    </div>
    <div>
      <a href="/alergologia">
        <h4>Alergologia e imunologia</h4>
      </a>
    </div>
    <div>
      <a href="/alergologia-pediatrica"><h4>Alergologia e imunologia pediátrica</h4></a>
    </div>
    <div>
      <a><h4 class="selected">Dermatologia</h4></a>
    </div>
    <div>
      <a href="/cardiologia"><h4>Cardiologia</h4></a>
    </div>
</nav>

<section class="muriel">
    <h2 class="mobile-only">Saúde e beleza para pele e fios.</h2>
    <img src="../img/pages/dermatologia/muriel.png" alt="">
    <div class="muriel-right">
        <p>Dra. Muriel Gil Godinho é médica dermatologista, graduada pela PUC-PR e membro da Sociedade Brasileira de Dermatologia. Especialista em Dermatologia, Estética e Tricologia, alia conhecimento técnico e experiência para cuidar da saúde da pele, dos cabelos e da autoestima de seus pacientes. Com expertise em tricologia e em tratamentos de embelezamento natural, atua sempre com dedicação para oferecer resultados que valorizam a identidade de cada pessoa.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
</section>

<section class="especialidades">
    <h2>Nossas especialidades em Dermatologia e Tricologia</h2>
    <div class="icones">
      <div class="item">
        <img 
          src="../img/pages/dermatologia/dermatologia.png"
          srcset="../img/pages/dermatologia/dermatologia@2x.png 2x"
          alt="" />
        <p>Dermatologia Clínica e Cirúrgica</p>
      </div>
      <div class="item">
        <img 
          src="../img/pages/dermatologia/estetica.png"
          srcset="../img/pages/dermatologia/estetica@2x.png 2x"
          alt="" />        
        <p>Dermatologia Estética</p>
      </div>
      <div class="item">
        <img 
          src="../img/pages/dermatologia/tricologia.png"
          srcset="../img/pages/dermatologia/tricologia@2x.png 2x"
          alt="" />        
        <p>Tricologia</p>
      </div>
    </div>
</section>

<section class="dermatologia">
  <div class="wrap-dermatologia">
    <div class="dermatologia-item">
      <img src="../img/pages/dermatologia/clinica.png" class="desktop-only" alt="">
      <div class="item-right">
        <h2>Dermatologia <br/><span>Clínica e cirúrgica</span></h2>
        <img src="../img/pages/dermatologia/clinica.png" class="mobile-only" alt="">
        <h3>Foco no diagnóstico, tratamento e prevenção de condições que afetam a pele, cabelos e unhas.</h3>
        <div class="table">
          <p>Doenças de pele</p>
          <p>Biópsia de pele</p>
          <p>Cauterização de lesões benignas</p>
          <p>Crioterapia</p>
        </div>
      </div>
    </div>
    <div class="dermatologia-item">
      <div class="item-left">
        <h2>Dermatologia<span> Estética</span></h2>
        <img class="mobile-only" src="../img/pages/dermatologia/estetica-img.png" alt="">
        <h3>Tratamentos personalizados para rejuvenescimento, bem-estar e valorização da beleza única de cada paciente.</h3>
        <div class="table">
          <p>Bioestimuladores de Colágeno</p>
          <p>Toxina Botulínica</p>
          <p>Peelings</p>
        </div>
      </div>
      <img class="desktop-only" src="../img/pages/dermatologia/estetica-img.png" alt="">
    </div>
    <div class="dermatologia-item">
      <img class="desktop-only" src="../img/pages/dermatologia/tricologia-img.png" alt="">
      <div class="item-right">
        <h2>Tricologia</h2>
        <img class="mobile-only" src="../img/pages/dermatologia/tricologia-img.png" alt="">
        <h3>Mais do que estética, a tricologia clínica busca compreender as causas da queda de cabelo para indicar terapias que restauram a saúde dos fios e a autoestima.</h3>
        <div class="table">
          <p>Alopecias e queda de cabelo</p>
          <p>Intradermoterapia capilar</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="primeiro">
  <p>Dê o primeiro passo para recuperar saúde, beleza e confiança com tratamentos personalizados.</p>
  <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
</section>

{% include 'footer.njk' %}