---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/home.css"
---

<header>
    <img class="desktop-only" src="./img/home-banner.png" alt="" />
    <img class="mobile-only" src="./img/banner-mobile.png" alt="" />
    
  <div class="wrap-header">
    <h2>
      Promovendo saúde <br /> e qualidade de vida
    </h2>

    <a href="https://online.shosp.com.br/aweb/?hash=d38986ecc55e9371eb39df4576db9ebf5cd37569" target="_blank"
      class="begeButton upper desktop-only">
      Faça seu agendamento online
    </a>

    <div class="desktop-only">
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        target="_blank"
        class="begeButton">
        Agendamento<br/> por WhatsApp
      </a>

      <a href="tel:554131210013" target="_blank"
        class="begeButton">
        Agendamento <br/> por Telefone 
      </a>
    </div>
    <div class="mobile-only contato-header">
      <a href="https://online.shosp.com.br/aweb/?hash=d38986ecc55e9371eb39df4576db9ebf5cd37569" target="_blank"
      class="begeButton upper">
      Faça seu agendamento online
    </a>
    <a href="tel:554131210013" target="_blank"
      class="begeButton upper">
      Agende por Telefone 
    </a>
    <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        target="_blank"
        class="begeButton upper">
        Agende por WhatsApp
      </a>

    </div>
  </div>
</header>

<nav>
  <div>
    <a href="/cirurgias"><h4>Cirurgia plástica facial</h4></a>
  </div>
  <div>
    <a href="/otorrinolaringologia"><h4>Otorrinolaringologia geral</h4></a>
  </div>
  <div>
    <a href="/otologia"><h4>Otologia</h4></a>
  </div>
  <div>
    <a href="/otoneurologia"><h4>Otoneurologia</h4></a>
  </div>
  <div>
    <a href="/audiometria"><h4>Audiometria</h4></a>
  </div>
  <div>
    <a href="/alergologia"><h4>Alergologia e imunologia</h4></a>
  </div>
  <div>
    <a><h4>Dermatologia</h4></a>
  </div>
  
</nav>

<section class="quem">
  <div class="quem-left">
    <h4>QUEM SOMOS</h4>
    <h2>Diagnósticos de alto padrão </br> e excelência no
      resultado.</p>
  </div>
  <div class="quem-right">
    <p>Nosso foco é proporcionar um atendimento de excelência, com profissionais do mais alto nível e instalações e equipamentos de primeira linha.</p>
  </div>
</section>

<section class="equipe">
  <h4>EQUIPE</h4>
  <h2>Compromisso em cuidar da saúde <br /> do paciente de maneira integral</h2>
  <p>Nossa equipe prestará atendimento <br /> 
    sempre com olhar atencioso e cuidadoso, <br />
    zelando pelo bem-estar de todos.</p>
</section>

<section class="team">
  <div class="wrap-team"data-aos="zoom-in-up">
    <img src="./img/dr-luciano.png" alt="">
    <div class="team-text">
      <div class="first">
        <h4>Plástica Facial</h4>
        <h2>Dr. Luciano Campelo Prestes</h2>
        <span>Otorrinolaringologista | Cirurgia da Face Rinoplastia Ultrassônica</span>
      </div>
      <div class="second">
        <p>Diretor técnico da Novva Otorrino, o Dr. Luciano Prestes é médico otorrinolaringologista e
        mestre em cirurgia
        formado pela Universidade Federal do Paraná (UFPR), com aprofundamento em cirurgia plástica facial avançada pela
          Universidade de Medellin.</p>
        <p>Oferece atendimentos em otorrinolaringologia geral com foco em cirurgias da face, como rinoplastia, blefaroplastia, otoplastia e outras. Possui mais de 16 anos de experiência, sendo 11 anos chefiando o pronto atendimento de um grande hospital em sua especialidade, auxiliando na formação e comandando mais de 100 médicos.</p>
      </div>
      <div class="wrap-agendamento">
        <a href="/cirurgias" class="pretoButton">Saiba Mais</a>
        <a  href="https://online.shosp.com.br/aweb/?hash=d38986ecc55e9371eb39df4576db9ebf5cd37569" target="_blank"
            class="pretoButton">
            Agendamento Online
        </a>
        <a  href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
            target="_blank"
            class="pretoButton">
            Agendamento por WhatsApp
        </a>
      </div>
    </div>
  </div>

  <div class="wrap-team"data-aos="zoom-in-up">
    <img src="./img/dra-vanessa.png" alt="">
    <div class="team-text">
      <div class="first">
        <h4>Otologia</h4>
        <h2>Dra. Vanessa Mazanek Santos</h2>
        <span>Otorrinolaringologista | Otologia</span>
      </div>
      <div class="second">
        <p>A Dra. Vanessa Mazanek é médica pela Universidade Federal do Paraná (UFPR), especializada em otorrinolaringologia e otologia e estudou no Instituto Portmann em Bordeaux, na França. Mestranda em clínica cirúrgica pelo HC/UFPR, estuda profundamente o tratamento das doenças do ouvido e é cirurgiã especialista em implante coclear, acreditada pela Cochlear. Com 9 anos de experiência, excelência no atendimento e conhecimento profundo, é responsável pelo atendimento da saúde auditiva e casos de surdez.</p>
      </div>
      <div class="wrap-agendamento">
        <a href="/cirurgias" class="pretoButton">Saiba Mais</a>
        <a  href="https://online.shosp.com.br/aweb/?hash=d38986ecc55e9371eb39df4576db9ebf5cd37569" target="_blank"
            class="pretoButton">
            Agendamento Online
        </a>
        <a  href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
            target="_blank"
            class="pretoButton">
            Agendamento por WhatsApp
        </a>
      </div>
    </div>
  </div>

  <div class="wrap-team"data-aos="zoom-in-up">
    <img src="./img/dr-lucas.png" alt="">
    <div class="team-text">
      <div class="first">
        <h4>Otoneurologia</h4>
        <h2>Dr.Lucas Resende Lucinda Mangia</h2>
        <span>Otorrinolaringologista especialista em otoneurologia</span>
      </div>
      <div class="second">
        <p>O Dr. Lucas Mangia é médico otorrinolaringologista pela Universidade Federal do Paraná (UFPR), onde hoje é professor efetivo da faculdade de Medicina. Especializado em otoneurologia, área da medicina responsável pela saúde do ouvido interno (audição e labirinto), foi Fellowship no Centre Hospitalier Universitaire de Bordeaux na França e concluiu Observership na área, no John Hopkins, nos Estados Unidos.</p>
        <p> É Membro da Academia Brasileira de Otoneurologia (ABON), preceptor dos ambulatórios de otoneurologia do Hospital de Clínicas da UFPR e pesquisador nessa mesma subespecialidade. É o médico responsável pelos atendimentos relacionados à audição e ao labirinto, cuidando da saúde e bem-estar de todos com excelência.</p>
      </div>
      <div class="wrap-agendamento">
        <a href="/cirurgias" class="pretoButton">Saiba Mais</a>
        <a  href="https://online.shosp.com.br/aweb/?hash=d38986ecc55e9371eb39df4576db9ebf5cd37569" target="_blank"
            class="pretoButton">
            Agendamento Online
        </a>
        <a  href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
            target="_blank"
            class="pretoButton">
            Agendamento por WhatsApp
        </a>
      </div>
    </div>
  </div>

  <div class="wrap-team"data-aos="zoom-in-up">
    <img src="./img/mariana-rosa.png" alt="">
    <div class="team-text">
      <div class="first">
        <h4>Alergia e Imunologia</h4>
        <h2>Dra. Mariana Rosa</h2>
        <span>Diretora de Alergia e Imunologia</span>
      </div>
      <div class="second">
        <p>A Dra. Mariana Rosa é diretora de alergologia e imunologia da Novva Otorrino, médica
          alergista e imunologista pela Universidade Federal do Rio de Janeiro (UFRJ).</p>
        <p>É a médica responsável pelos atendimentos de casos de dermatite, urticária, rinite, asma e
        outros relacionados à sua especialidade. Integra a nossa equipe reafirmando o nosso compromisso em cuidar da
        saúde do paciente de maneira integral, prezando pela qualidade de vida e bem-estar.
        </p>
      </div>
      <div class="wrap-agendamento">
        <a href="/cirurgias" class="pretoButton">Saiba Mais</a>
        <a  href="https://online.shosp.com.br/aweb/?hash=d38986ecc55e9371eb39df4576db9ebf5cd37569" target="_blank"
            class="pretoButton">
            Agendamento Online
        </a>
        <a  href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
            target="_blank"
            class="pretoButton">
            Agendamento por WhatsApp
        </a>
      </div>
    </div>
  </div>

  <div class="wrap-team"data-aos="zoom-in-up">
    <img src="./img/dra-barbara.png" alt="">
    <div class="team-text">
      <div class="first">
        <h4>Dermatologista</h4>
        <h2>Dra. Bárbara Joaquim Tessaro</h2>
        <span>Dermatologista</span>
      </div>
      <div class="second">
        <p>A Dra. Bárbara Tessaro é dermatologista pelo HC/UFPR, Fellow em Cirurgia Dermatológica
        pelo Instituto Azulay da Santa Casa de Misericórdia do Rio de Janeiro e membro titular da Sociedade Brasileira
          de Dermatologia (SBD) e da Sociedade Brasileira de Cirurgia Dermatológica (SBCD).</p>
        <p>Responsável pela prevenção e tratamento de doenças da pele, também domina diversos
        procedimentos estéticos,
        especialmente os faciais. A Dra. Bárbara reforça nosso posicionamento em cuidar da saúde, qualidade de vida e
          autoestima do paciente de maneira interdisciplinar.</p>
      </div>
        <div class="wrap-agendamento">
          <a  href="https://online.shosp.com.br/aweb/?hash=d38986ecc55e9371eb39df4576db9ebf5cd37569" target="_blank"
              class="pretoButton">
              Agendamento Online
          </a>
          <a  href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
              target="_blank"
              class="pretoButton">
              Agendamento por WhatsApp
          </a>
        </div>
    </div>
  </div>

  <!-- <div class="w-[90vw]  md:w-[90%] h-full">
    <div class="px-8 text-center bg-bege h-full rounded-3xl flex flex-col place-items-center">
      <img class="w-[70%] -mt-[70%] rounded-2xl" src="./img/rafael_moret.png" alt="">

      <h4 class="mt-5 text-bege3 font-bold text-3xl">Gastroenterologista</h4>
      <h2 class="mt-8 font-bold text-2xl">Dr. Rafael Moret</h2>
      <p class="text-xs mb-8">Saúde Gastrointestinal │ Alergia Alimentar
      </p>
      <p class="text-lg mb-8">O Dr. Rafael Moret é médico dedicado à saúde gastrointestinal com foco em alergias
        alimentares. Graduado pela Universidade Iguaçu, aprofundou seus conhecimentos em Gastroenterologia na
        Universidade Federal Fluminense e em Alergia e Imunologia na UFRJ (Universidade Federal do Rio de Janeiro). </p>

      <p class="text-lg mb-8">Com
        foco em alergias e intolerâncias alimentares, realiza o atendimento com foco em proporcionar saúde e qualidade
        de vida, analisando sintomas físicos e compreendendo implicações emocionais.</p>

      <a href="tel:554131210013" target="_blank"
        class=" flex align-middle mt-4 md:mt-auto w-[85%] mb-2 border rounded-xl  tracking-widest	 border-bege3 bg-bege3 px-4 py-2 text-left text-white  hover:border-transparent hover:bg-bege hover:text-black">
        Agendamento por Telefone >
      </a>

      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        target="_blank"
        class=" flex align-middle mt-4 md:mt-0 w-[85%] mb-8 border rounded-xl  tracking-widest	 border-bege3 bg-bege3 px-4 py-2 text-left text-white  hover:border-transparent hover:bg-bege hover:text-black">
        Agendamento por WhatsApp >
      </a>
    </div>
  </div> -->
</section>

<section class="promovemos">
  <div class="wrap-promovemos">
    <h2>Não tratamos apenas doenças, <br /> <span>Promovemos qualidade de vida.</span></h2>
    <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
    target="_blank"
    class="begeButton desktop-only">
    AGENDE UMA CONSULTA</a>
  </div>

  <div class="tratamentos" data-aos="zoom-in">
    <div class="item">
      <span></span>
      <h3>Cirurgia Facial</h3>
      <p>Rinoplastia</p>
      <p>Otoplastia</p>
      <p>Blefaroplastia </p>
      <p>Lobuloplastia <br />(redução de lóbulo) </p>
    </div>
  
    <div class="item">
      <span></span>
      <h3>Otorrinolaringologia</h3>
      <p>Gripes, resfriados</p>
      <p>e sinusites </p>
      <p>Desvio de septo</p>
      <p>Alectomia</p>
      <p>Implante coclear </p>
      <p>Labirintopatias, vertigem e zumbido </p>
      <p>Perda Auditiva </p>
    </div>
  
    <div class="item">
      <span></span>
      <h3>Audiometria</h3>
      <p>Impedanciometria </p>
      <p>Teste de Prótese Auditiva</p>
    </div>
  
    <div class="item">
      <span></span>
      <h3>Alergologia e <br /> imunologia</h3>
      <p>Rinite Alérgica</p>
      <p>Teste Imunológico</p>
      <p>Teste alérgico</p>
      <p>Teste de contato</p>
      <p>Vacinas para Alergias</p>
    </div>
  
    <div class="item">
      <span></span>
      <h3>Dermatologia</h3>
      <p>Doenças de Pele</p>
      <p>Preenchimentos</p>
      <p>Fios de Sustentação</p>
      <p>Peeling</p>
      <p>Tratamentos estéticos, dermatológicos e cosmiátricos</p>
    </div>
  
  </div>
  <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
    target="_blank"
    class="begeButton mobile-only">
    AGENDE UMA CONSULTA</a>
  
</section>

<section class="convenios">
  <h2>CONVÊNIOS</h2>
  <h4>Atendemos, entre outros,<br /> os convênios abaixo:</h4>

  <div class="convenios-itens">
    <img src="./img/sane.png" alt="">
    <img src="./img/sinam.png" alt="">
    <img src="./img/unimed.png" alt="">
    <img src="./img/bradesco.png" alt="">
    <img src="./img/copel.png" alt="">
  </div>

  <p>Os não listados, atendemos preços diferenciados conforme reembolso</p>
</section>

<section class="espaco">
  <div class="wrap-espaco" data-aos="zoom-out-right">
    <img  src="./img/clinica.png" alt="">

    <div class="espaco-text">
      <h2>Um espaço <br /> pensado para você</h2>
      <p>Os pacientes terão acesso aos meios diagnósticos de alto padrão e tratamentos
        com a menor invasividade
        possível, sem abrir mão da excelência no resultado.</p>

      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
        target="_blank"
        class="begeButton">
        AGENDE UMA CONSULTA
      </a>
    </div>
  </div>

</section>

<section class="pre-footer">
  <img src="./img/arc.png" alt="">

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.639054686199!2d-49.30296422357905!3d-25.45032813369831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce6aa05a0cd37%3A0x52f9a68a9e2aa29d!2sHospital%20Cl%C3%ADnica%20Los%20Angeles!5e0!3m2!1spt-BR!2sbr!4v1714625014543!5m2!1spt-BR!2sbr"
    width="763" height="462" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

  <div class="pre-text">
    <h2>ONDE ESTAMOS</h2>
    <h1>Novva Otorrino</h1>
    <span>Centro de Otorrinolaringologia e Face</span>
    <span>Nariz | Ouvido | Garganta | Face e Estética</span>

    <p>Av. Sete de Setembro, 6520 - 2º andar <br /> Hospital Clínica Los Angeles</p>

    <a href="https://maps.app.goo.gl/hjtbbs5rTyRJabNk9" target="_blank"
      class="begeButton">
      ACESSAR O MAPA
    </a>
  </div>
</section>


{% include 'footer.njk' %}



<script>
  const swiper = new Swiper(".swiper", {
    speed: 400,
    spaceBetween: 20,
    slidesPerView: 1,
    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    // scrollbar: {
    //   el: '.swiper-scrollbar',
    //   draggable: true,
    // },
    pagination: {
      el: '.swiper-pagination',
      type: 'bullets', //'progressbar' | 'bullets' | 'fraction' | 'custom',
      clickable: true
    },
    breakpoints: {
      // when window width is >= 480px
      300: {
        slidesPerView: 'auto',
        spaceBetween: 50,
        width: 350
      },
      // when window width is >= 1600px
      1000: {
        slidesPerView: 'auto',
        width: 550
      }
    }
  });
</script>