---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---

<header data-aos="zoom-out-down">
  <img
    class="desktop-only"
    src="../img/pages/otorrino/otorrino-header.png"
    alt=""
  />
  <img
    class="mobile-only"
    src="../img/pages/otorrino/oto-header-mob.png"
    alt=""
  />

  <div class="wrap-icon">
    <a href="/">
      <img src="../img/pages/logo-header.png" alt="" />
    </a>
    <a href="/">Início</a>
  </div>
  <div class="wrap-header">
    <h1>Otologia</h1>
  </div>
</header>

<nav>
  <div>
    <a href="/cirurgias"><h4>Cirurgia plástica facial</h4></a>
  </div>
  <div>
    <a href="/otorrinolaringologia"><h4>Otorrinolaringologia Geral</h4></a>
  </div>
  <div>
    <a><h4 class="selected">Otologia</h4></a>
  </div>
  <div>
    <a href="/otoneurologia"><h4>Otoneurologia</h4></a>
  </div>
  <div>
    <a href="/audiometria"><h4>Audiometria</h4></a>
  </div>
  <div>
    <a href="/alergologia"
      ><h4>
        Alergologia e imunologia
      </h4></a
    >
  </div>
  <div>
    <a><h4>Dermatologia</h4></a>
  </div>
  <div>
    <a href="/cardiologia"><h4>Cardiologia</h4></a>
  </div>
</nav>
  
  <section id="otorrino" class="otorrino">
    <div class="otorrino-first" data-aos="fade-right" >
        <img src="../img/pages/otorrino/vanessa.png" alt="" />
        <div class="first-text">
          <h1>Otologia Clínica e Cirúrgica.</h1>
          <p>A Dra. Vanessa é otorrinolaringologista especialista em tratamento clínico e cirúrgico de perdas auditivas e doenças crônicas do ouvido, sendo certificada pela Cochlear Academy para cirurgias de implante coclear e próteses ancoradas ao osso, importantes tecnologias disponíveis hoje para o tratamento da surdez.</p>
          <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
        </div>
      </div>
      <div class="otorrino-third">
        <div class="wrap-sintomas">
            <p>Implante coclear</p>
            <p>Prótese auditiva osteoancorada</p>
            <p>Cirurgias do ouvido</p>
            <p>Cirurgia para perda auditiva</p> 
        </div>      
      </div>
      <div class="otologia-fourth">
        <h2>BENEFÍCIOS DO <span>TRATAMENTO CIRÚRGICO</span></h2>
        <div class="wrap-beneficios">
          <div class="item-beneficios">
            <img src="../img/pages/otorrino/acessar.png" alt="">
            <p>Poder acessar o mundo dos sons</p>
          </div>
          <div class="item-beneficios">
            <img src="../img/pages/otorrino/alternativas.png" alt="">
            <p>Ter alternativas ao aparelho auditivo convencional</p>
          </div>
          <div class="item-beneficios">
            <img src="../img/pages/otorrino/escutar.png" alt="">
            <p>Escutar melhor em ambientes ruidosos</p>
          </div>
          <div class="item-beneficios">
            <img src="../img/pages/otorrino/zumbido.png" alt="">
            <p>Tratamento adjuvante para o zumbido</p>
          </div>
          <div class="item-beneficios">
            <img src="../img/pages/otorrino/preservacao.png" alt="">
            <p>Preservação da memória e cognição</p>
          </div>
        </div>
        <h3>OUÇA MAIS E MELHOR</h3>
        <p>Conte com uma médica especializada e certificada pela Cochlear®, e uma equipe para acompanhamento completo de fonoaudiologia.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
      </div>
      <div class="otorrino-fifth">
        <div class="zumbido-left">
          <h2>ETAPAS DO <span>ATENDIMENTO:</span></h2>
          <div class="zumbido-wrap">
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Consulta online ou presencial</h5>
              </div>  
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Avaliação fonoaudiológica</h5>
              </div>  
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Teste simulador de prótese (quando indicado)</h5>
              </div>  
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Cirurgia (se necessária)</h5>
              </div>  
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Recuperação com alta no mesmo dia</h5>
              </div>  
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Ativação do implante ou prótese após 3 ou 4 semanas (quando indicado)</h5>
              </div>  
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Acompanhamento com consultas pós-operatórias</h5>
              </div>  
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>Retorno anual</h5>
              </div>  
            </div>
          </div>
          <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
        </div>
          <img class="desktop-only" src="../img/pages/otorrino/otologia.png" alt="">
          <img class="mobile-only" src="../img/pages/otorrino/otologia-mob.png" alt="">
      </div>
  </section>

  {% include 'footer.njk' %}
