---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---

<header data-aos="zoom-out-down">
  <img
    class="desktop-only"
    src="../img/pages/otorrino/otorrino-header.png"
    alt=""
  />
  <img
    class="mobile-only"
    src="../img/pages/otorrino/oto-header-mob.png"
    alt=""
  />

  <div class="wrap-icon">
    <a href="/">
      <img src="../img/pages/logo-header.png" alt="" />
    </a>
    <a href="/">Início</a>
  </div>
  <div class="wrap-header">
    <h1>Otoneurologia</h1>
  </div>
</header>

<nav>
  <div>
    <a href="/cirurgias"><h4>Cirurgia plástica facial</h4></a>
  </div>
  <div>
    <a href="/otorrinolaringologia"><h4>Otorrinolaringologia Geral</h4></a>
  </div>
  <div>
    <a href="/otologia"><h4>Otologia</h4></a>
  </div>
  <div>
    <a><h4  class="selected">Otoneurologia</h4></a>
  </div>
  <div>
    <a href="/audiometria"><h4>Audiometria</h4></a>
  </div>
  <div>
    <a href="/alergologia"
      ><h4>
        Alergologia e imunologia
      </h4></a
    >
  </div>
  <div>
    <a><h4>Dermatologia</h4></a>
  </div>
  <div>
    <a href="/cardiologia"><h4>Cardiologia</h4></a>
  </div>
</nav>
  
  <section id="otorrino" class="otorrino">
    <div class="otorrino-first" data-aos="fade-right" >
        <img src="../img/pages/otorrino/lucas.png" alt="" />
        <div class="first-text">
          <h1>Saúde do labirinto e audição.</h1>
          <p>O Dr. Lucas Mangia é médico otorrinolaringologista especializado em Otoneurologia, área da medicina responsável pela saúde do ouvido interno (audição e labirinto). Com experiência e conhecimento profundo da área, é responsável pelos atendimentos relacionados à audição e ao labirinto, cuidando da saúde e bem-estar de todos com excelência.</p>
          <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
        </div>
      </div>
      <div class="otorrino-second">
        <h2>OTONEUROLOGIA</h2>
        <p>A <b>Otoneurologia</b> é uma área da Medicina que engloba conhecimentos eminentemente da <b>Otorrinolaringologia</b> e da <b>Neurologia</b> para investigar e cuidar das doenças relacionadas ao ouvido interno e as demais estruturas do sistema nervoso a ele interligadas. Como essa delicada e complexa estrutura do nosso organismo abriga órgãos relacionados à audição, à percepção espacial e ao equilíbrio, suas doenças podem se manifestar com tonturas, perda de audição (surdez), desequilíbrio, entre outros.</p>
      </div>
      <div class="otorrino-third" data-aos="zoom-in-up">
        <h2>SINTOMAS DE <span>PROBLEMAS DO LABIRINTO</span></h2>
        <div class="wrap-sintomas">
            <p>Tonturas</p>
            <p>Vertigens</p>
            <p>Facilidade de quedas</p>
            <p>Desequilíbrio e instabilidade</p>
            <p>Enjoos, náuseas e mal-estar</p>
            <p>Sensação de estar com a cabeça parecendo um balão, bêbado ou similares</p>
            <p>Sensação de estar “flutuando”</p>
            <p>Sensações de “cabeça leve”, “cabeça pesada”, “ruindade na cabeça”, entre outras</p>
        </div>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
        
      </div>
      <div class="otorrino-fourth" data-aos="zoom-in-up">
        <h2>SINTOMAS RELACIONADOS <span>A AUDIÇÃO</span></h2>
        <div class="wrap-sintomas2">
            <p>Dificuldade de ouvir sons</p>
            <p>Dificuldade para entender o que estão falando</p>
            <p>Incômodo com sons</p>
            <p>Zumbido</p>
            <p>Dificuldades de concentração, atenção e memória</p>
            <p>Isolamento social</p>
        </div>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
        
      </div>
      <div class="otorrino-fifth">
        <div class="zumbido-left">
          <div class="top">
            <h2>SINTOMAS<span> ZUMBIDO</span></h2>
            <div class="zumbido-item">
              <img src="../img/pages/otorrino/chiado.png" alt="">
              <p>Chiado, apito, barulho de máquina, vento ou outras sensações auditivas, contínuas ou temporárias</p>
            </div>
            <div class="zumbido-item">  
              <img src="../img/pages/otorrino/setas.png" alt="">
              <p>Pode ser de um ou dos dois lados, ou mesmo percebido “na cabeça”</p>
            </div>
  
          </div>
          <h2>PROCEDIMENTOS</h2>
          <div class="zumbido-wrap">
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>VPPB - Vertigem Posicional Paroxística Benigna ou “doença dos cristais”</h5>
              </div>  
                <p>É uma doença frequente dos labirintos que leva a tonturas, em geral intensas, quando o paciente faz certas movimentações. Em caso de suspeita após a consulta médica, sua presença é confirmada com manobras diagnósticas e, uma vez presente, é tratada com manobras terapêuticas também realizadas pelo médico otoneurologista em ambiente próprio e com a técnica adequada.</p>
            </div>
            <div class="item" >
              <div class="bolinha">
                <img src="../img/pages/bolinha.png" alt="">
                <h5>V-HIT - Vídeo Head Impulse Test </h5>
              </div>  
                <p>É o exame mais moderno para avaliação de tonturas. Nele, o médico utiliza um equipamento próprio para testar o reflexo vestíbulo-ocular. A qualidade desse reflexo espelha a função de cada um dos labirintos.</p>
            </div>
          </div>
          <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
        </div>
        <img src="../img/pages/otorrino/otoneuro.png" alt="">
      </div>
  </section>

  {% include 'footer.njk' %}
