---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---

<header data-aos="zoom-out-down">
  <img
    class="desktop-only"
    src="../img/pages/otorrino/otorrino-header.png"
    alt=""
  />
  <img
    class="mobile-only"
    src="../img/pages/otorrino/oto-header-mob.png"
    alt=""
  />

  <div class="wrap-icon">
    <a href="/">
      <img src="../img/pages/logo-header.png" alt="" />
    </a>
    <a href="/">Início</a>
  </div>
  <div class="wrap-header">
    <h1>Otorrinolaringologia</h1>
  </div>
</header>

<nav>
  <div>
    <a href="/cirurgias"><h4>Cirurgias plásticas</h4></a>
  </div>
  <div>
    <a><h4 class="selected">Otorrinolaringologia</h4></a>
  </div>
  <div>
    <a href="/audiometria"><h4>Audiometria</h4></a>
  </div>
  <div>
    <a href="/alergologia"
      ><h4>
        Alergologia <br />
        e imunologia
      </h4></a
    >
  </div>
  <div>
    <a><h4>Dermatologia</h4></a>
  </div>
</nav>

<div class="selector">
  <button class="begeButton select selected upper" id="otologia">Otologia</button>
  <button class="begeButton select upper" id="otoneurologia">
    Otoneurologia
  </button>
</div>

<section id="otorrino" class="otorrino">
  <div class="otorrino-first" data-aos="fade-right" >
    <img src="../img/pages/otorrino/vanessa.png" alt="" />
    <div class="first-text">
      <h1>Otologia Clínica e Cirúrgica.</h1>
      <p>A Dra. Vanessa é otorrinolaringologista especialista em tratamento clínico e cirúrgico de perdas auditivas e doenças crônicas do ouvido, sendo certificada pela Cochlear Academy para cirurgias de implante coclear e próteses ancoradas ao osso, importantes tecnologias disponíveis hoje para o tratamento da surdez.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
  </div>
  <div class="otorrino-third" >
    <div class="wrap-sintomas">
        <p>Implante coclear</p>
        <p>Prótese auditiva osteoancorada</p>
        <p>Cirurgias do ouvido</p>
        <p>Cirurgia para perda auditiva</p> 
    </div>      
  </div>
  <div class="otologia-fourth" data-aos="zoom-in-up">
    <h2>BENEFÍCIOS DO <span>TRATAMENTO CIRÚRGICO</span></h2>
    <div class="wrap-beneficios">
      <div class="item-beneficios">
        <img src="../img/pages/otorrino/acessar.png" alt="">
        <p>Poder acessar o mundo dos sons</p>
      </div>
      <div class="item-beneficios">
        <img src="../img/pages/otorrino/alternativas.png" alt="">
        <p>Ter alternativas ao aparelho auditivo convencional</p>
      </div>
      <div class="item-beneficios">
        <img src="../img/pages/otorrino/escutar.png" alt="">
        <p>Escutar melhor em ambientes ruidosos</p>
      </div>
      <div class="item-beneficios">
        <img src="../img/pages/otorrino/zumbido.png" alt="">
        <p>Tratamento adjuvante para o zumbido</p>
      </div>
      <div class="item-beneficios">
        <img src="../img/pages/otorrino/preservacao.png" alt="">
        <p>Preservação da memória e cognição</p>
      </div>
    </div>
    <h3>OUÇA MAIS E MELHOR</h3>
    <p>Conte com uma médica especializada e certificada pela Cochlear®, e uma equipe para acompanhamento completo de fonoaudiologia.</p>
    <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
  </div>
  <div class="otorrino-fifth">
    <div class="zumbido-left">
      <h2>ETAPAS DO <span>ATENDIMENTO:</span></h2>
      <div class="zumbido-wrap">
        <div class="item" data-aos="flip-left">
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="">
            <h5>Consulta online ou presencial</h5>
          </div>  
        </div>
        <div class="item" data-aos="flip-left">
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="">
            <h5>Avaliação fonoaudiológica</h5>
          </div>  
        </div>
        <div class="item" data-aos="flip-left">
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="">
            <h5>Teste simulador de prótese (quando indicado)</h5>
          </div>  
        </div>
        <div class="item" data-aos="flip-left">
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="">
            <h5>Cirurgia (se necessária)</h5>
          </div>  
        </div>
        <div class="item" data-aos="flip-left">
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="">
            <h5>Recuperação com alta no mesmo dia</h5>
          </div>  
        </div>
        <div class="item" data-aos="flip-left">
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="">
            <h5>Ativação do implante ou prótese após 3 ou 4 semanas (quando indicado)</h5>
          </div>  
        </div>
        <div class="item" data-aos="flip-left">
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="">
            <h5>Acompanhamento com consultas pós-operatórias</h5>
          </div>  
        </div>
        <div class="item" data-aos="flip-left">
          <div class="bolinha">
            <img src="../img/pages/bolinha.png" alt="">
            <h5>Retorno anual</h5>
          </div>  
        </div>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
    </div>
      <img class="desktop-only" src="../img/pages/otorrino/otologia.png" alt="">
      <img class="mobile-only" src="../img/pages/otorrino/otologia-mob.png" alt="">
  </div>
</section>

{% include 'footer.njk' %}

<script>
  let selected = "otoneuro";
  const section = document.getElementById("otorrino");

  const otoneurologia = document.getElementById("otoneurologia");
  otoneurologia.addEventListener("click", () => {
    resetSelection();
    selected = "otoneuro";
    otoneurologia.classList.add("selected");
    updateSection();
  });
  const otologia = document.getElementById("otologia");
  otologia.addEventListener("click", () => {
    resetSelection();
    selected = "otologia";
    otologia.classList.add("selected");
    updateSection();
  });

  function resetSelection() {
    otologia.classList.remove("selected");
    otoneurologia.classList.remove("selected");
  }

  function updateSection() {
    if (selected === "otoneuro") {
      section.innerHTML = `
    <div class="otorrino-first" data-aos="fade-right" >
      <img src="../img/pages/otorrino/lucas.png" alt="" />
      <div class="first-text">
        <h1>Saúde do labirinto e audição.</h1>
        <p>O Dr. Lucas Mangia é médico otorrinolaringologista especializado em Otoneurologia, área da medicina responsável pela saúde do ouvido interno (audição e labirinto). Com experiência e conhecimento profundo da área, é responsável pelos atendimentos relacionados à audição e ao labirinto, cuidando da saúde e bem-estar de todos com excelência.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="otorrino-second">
      <h2>OTONEUROLOGIA</h2>
      <p>A <b>Otoneurologia</b> é uma área da Medicina que engloba conhecimentos eminentemente da <b>Otorrinolaringologia</b> e da <b>Neurologia</b> para investigar e cuidar das doenças relacionadas ao ouvido interno e as demais estruturas do sistema nervoso a ele interligadas. Como essa delicada e complexa estrutura do nosso organismo abriga órgãos relacionados à audição, à percepção espacial e ao equilíbrio, suas doenças podem se manifestar com tonturas, perda de audição (surdez), desequilíbrio, entre outros.</p>
    </div>
    <div class="otorrino-third" data-aos="zoom-in-up">
      <h2>SINTOMAS DE <span>PROBLEMAS DO LABIRINTO</span></h2>
      <div class="wrap-sintomas">
          <p>Tonturas</p>
          <p>Vertigens</p>
          <p>Facilidade de quedas</p>
          <p>Desequilíbrio e instabilidade</p>
          <p>Enjoos, náuseas e mal-estar</p>
          <p>Sensação de estar com a cabeça parecendo um balão, bêbado ou similares</p>
          <p>Sensação de estar “flutuando”</p>
          <p>Sensações de “cabeça leve”, “cabeça pesada”, “ruindade na cabeça”, entre outras</p>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      
    </div>
    <div class="otorrino-fourth" data-aos="zoom-in-up">
      <h2>SINTOMAS RELACIONADOS <span>A AUDIÇÃO</span></h2>
      <div class="wrap-sintomas2">
          <p>Dificuldade de ouvir sons</p>
          <p>Dificuldade para entender o que estão falando</p>
          <p>Incômodo com sons</p>
          <p>Zumbido</p>
          <p>Dificuldades de concentração, atenção e memória</p>
          <p>Isolamento social</p>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      
    </div>
    <div class="otorrino-fifth">
      <div class="zumbido-left">
        <div class="top">
          <h2>SINTOMAS<span> ZUMBIDO</span></h2>
          <div class="zumbido-item">
            <img src="../img/pages/otorrino/chiado.png" alt="">
            <p>Chiado, apito, barulho de máquina, vento ou outras sensações auditivas, contínuas ou temporárias</p>
          </div>
          <div class="zumbido-item">  
            <img src="../img/pages/otorrino/setas.png" alt="">
            <p>Pode ser de um ou dos dois lados, ou mesmo percebido “na cabeça”</p>
          </div>

        </div>
        <h2>PROCEDIMENTOS</h2>
        <div class="zumbido-wrap">
          <div class="item" data-aos="flip-left">
            <div class="bolinha">
              <img src="../img/pages/bolinha.png" alt="">
              <h5>VPPB - Vertigem Posicional Paroxística Benigna ou “doença dos cristais”</h5>
            </div>  
              <p>É uma doença frequente dos labirintos que leva a tonturas, em geral intensas, quando o paciente faz certas movimentações. Em caso de suspeita após a consulta médica, sua presença é confirmada com manobras diagnósticas e, uma vez presente, é tratada com manobras terapêuticas também realizadas pelo médico otoneurologista em ambiente próprio e com a técnica adequada.</p>
          </div>
          <div class="item" data-aos="flip-left">
            <div class="bolinha">
              <img src="../img/pages/bolinha.png" alt="">
              <h5>V-HIT - Vídeo Head Impulse Test </h5>
            </div>  
              <p>É o exame mais moderno para avaliação de tonturas. Nele, o médico utiliza um equipamento próprio para testar o reflexo vestíbulo-ocular. A qualidade desse reflexo espelha a função de cada um dos labirintos.</p>
          </div>
        </div>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
      <img src="../img/pages/otorrino/otoneuro.png" alt="">
    </div>
              `;
    } else if (selected === "otologia") {
      section.innerHTML = `
   <div class="otorrino-first" data-aos="fade-right" >
      <img src="../img/pages/otorrino/vanessa.png" alt="" />
      <div class="first-text">
        <h1>Otologia Clínica e Cirúrgica.</h1>
        <p>A Dra. Vanessa é otorrinolaringologista especialista em tratamento clínico e cirúrgico de perdas auditivas e doenças crônicas do ouvido, sendo certificada pela Cochlear Academy para cirurgias de implante coclear e próteses ancoradas ao osso, importantes tecnologias disponíveis hoje para o tratamento da surdez.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="otorrino-third">
      <div class="wrap-sintomas">
          <p>Implante coclear</p>
          <p>Prótese auditiva osteoancorada</p>
          <p>Cirurgias do ouvido</p>
          <p>Cirurgia para perda auditiva</p> 
      </div>      
    </div>
    <div class="otologia-fourth">
      <h2>BENEFÍCIOS DO <span>TRATAMENTO CIRÚRGICO</span></h2>
      <div class="wrap-beneficios">
        <div class="item-beneficios">
          <img src="../img/pages/otorrino/acessar.png" alt="">
          <p>Poder acessar o mundo dos sons</p>
        </div>
        <div class="item-beneficios">
          <img src="../img/pages/otorrino/alternativas.png" alt="">
          <p>Ter alternativas ao aparelho auditivo convencional</p>
        </div>
        <div class="item-beneficios">
          <img src="../img/pages/otorrino/escutar.png" alt="">
          <p>Escutar melhor em ambientes ruidosos</p>
        </div>
        <div class="item-beneficios">
          <img src="../img/pages/otorrino/zumbido.png" alt="">
          <p>Tratamento adjuvante para o zumbido</p>
        </div>
        <div class="item-beneficios">
          <img src="../img/pages/otorrino/preservacao.png" alt="">
          <p>Preservação da memória e cognição</p>
        </div>
      </div>
      <h3>OUÇA MAIS E MELHOR</h3>
      <p>Conte com uma médica especializada e certificada pela Cochlear®, e uma equipe para acompanhamento completo de fonoaudiologia.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
    </div>
    <div class="otorrino-fifth">
      <div class="zumbido-left">
        <h2>ETAPAS DO <span>ATENDIMENTO:</span></h2>
        <div class="zumbido-wrap">
          <div class="item" data-aos="flip-left">
            <div class="bolinha">
              <img src="../img/pages/bolinha.png" alt="">
              <h5>Consulta online ou presencial</h5>
            </div>  
          </div>
          <div class="item" data-aos="flip-left">
            <div class="bolinha">
              <img src="../img/pages/bolinha.png" alt="">
              <h5>Avaliação fonoaudiológica</h5>
            </div>  
          </div>
          <div class="item" data-aos="flip-left">
            <div class="bolinha">
              <img src="../img/pages/bolinha.png" alt="">
              <h5>Teste simulador de prótese (quando indicado)</h5>
            </div>  
          </div>
          <div class="item" data-aos="flip-left">
            <div class="bolinha">
              <img src="../img/pages/bolinha.png" alt="">
              <h5>Cirurgia (se necessária)</h5>
            </div>  
          </div>
          <div class="item" data-aos="flip-left">
            <div class="bolinha">
              <img src="../img/pages/bolinha.png" alt="">
              <h5>Recuperação com alta no mesmo dia</h5>
            </div>  
          </div>
          <div class="item" data-aos="flip-left">
            <div class="bolinha">
              <img src="../img/pages/bolinha.png" alt="">
              <h5>Ativação do implante ou prótese após 3 ou 4 semanas (quando indicado)</h5>
            </div>  
          </div>
          <div class="item" data-aos="flip-left">
            <div class="bolinha">
              <img src="../img/pages/bolinha.png" alt="">
              <h5>Acompanhamento com consultas pós-operatórias</h5>
            </div>  
          </div>
          <div class="item" data-aos="flip-left">
            <div class="bolinha">
              <img src="../img/pages/bolinha.png" alt="">
              <h5>Retorno anual</h5>
            </div>  
          </div>
        </div>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agende sua consulta</a>
      </div>
        <img class="desktop-only" src="../img/pages/otorrino/otologia.png" alt="">
        <img class="mobile-only" src="../img/pages/otorrino/otologia-mob.png" alt="">
    </div>
              `;
    }
  }
</script>
