---
title: Novva Otorrino - Curitiba
layout: "base.njk"
cssPath: "/css/page.css"
---

<header data-aos="zoom-out-down">
  <img
    class="desktop-only"
    src="../img/pages/otorrino/otorrino-header.png"
    alt=""
  />
  <img
    class="mobile-only"
    src="../img/pages/otorrino/oto-header-mob.png"
    alt=""
  />

  <div class="wrap-icon">
    <a href="/">
      <img src="../img/pages/logo-header.png" alt="" />
    </a>
    <a href="/">Início</a>
  </div>
  <div class="wrap-header">
    <h1>Otorrinolaringologia</h1>
  </div>
</header>

<nav>
  <div>
    <a href="/cirurgias"><h4>Cirurgia plástica facial</h4></a>
  </div>
  <div>
    <a><h4 class="selected">Otorrinolaringologia Geral</h4></a>
  </div>
  <div>
    <a href="/otologia"><h4>Otologia</h4></a>
  </div>
  <div>
    <a href="/otoneurologia"><h4>Otoneurologia</h4></a>
  </div>
  <div>
    <a href="/audiometria"><h4>Audiometria</h4></a>
  </div>
  <div>
    <a href="/alergologia"
      ><h4>
        Alergologia e imunologia
      </h4></a
    >
  </div>
  <div>
    <a><h4>Dermatologia</h4></a>
  </div>
</nav>

<div class="selector">
  <button class="begeButton select upper selected" id="desvio">Desvio</button>
  <button class="begeButton select upper" id="amigdalectomia">Amigdalectomia</button>
  <button class="begeButton select upper" id="fratura">Fratura Nasal</button>
  <button class="begeButton select upper" id="tubinectomia">Tubinectomia</button>
  <button class="begeButton select upper desktop-only" id="uvulo">Uvulopalatofaringo-plastia</button>
  <button class="begeButton select upper mobile-only" id="uvulos">Uvulopalatofarin-goplastia</button>
  <button class="begeButton select upper" id="adenoidectomia">Adenoidectomia</button>
  <button class="begeButton select upper" id="sinusite">Sinusite</button>
  <button class="begeButton select upper desktop-only" id="adenoamigda" lang="pt-BR">Adenoamigdalectomia</button>
  <button class="begeButton select upper mobile-only" id="adenoamigdas" lang="pt-BR">Adenoamigdalec-tomia</button>
</div>

<section id="otorrino" class="otorrino">
  <div class="others-first">
    <div class="wrap-others">
      <div class="others-left">
        <h1>Desvio de Septo</h1>
        <div class="itens">
          <div class="item">
            <img src="../../img/pages/otorrino/septo.svg" alt="">
            <h3>Septo <br>normal</h3>
          </div>
          <div class="item">
            <img src="../../img/pages/otorrino/septo2.svg" alt="">
            <h3>Septo <br>com desvio</h3>
          </div>
        </div>
      </div>
      <div class="others-right">
        <p>Este é um procedimento feito para corrigir o desvio septal (parede que divide o nariz ao meio), removendo e reposicionando as porções de cartilagem ou osso que não estiverem centralizadas.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="bottom">
      <p>Tem duração de aproximadamente dez minutos, com os cirurgiões mais experientes, e um pós operatório sem dor, inchaço ou curativos.</p>
      <div class="wrap-respiratorias">
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/relogio.svg" alt="">
              <p>Cirurgia de rápida duração</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/anestesia.svg" alt="">
              <p>Anestesia local com sedação</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/tampoes.svg" alt="">
              <p>Sem uso de Tampões</p>
          </div>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>

    </div>
  </div>
  <div class="others-second">
    <h2>QUANDO FAZER?</span></h2>
    <p>Este é um procedimento que pode ser realizado para resolver diversas queixas e mudanças no nariz, como:</p>
    <div class="wrap-quando2">
      <p>Respiração bucal</p>
      <p>Roncos</p>
      <p>Rinite alérgica que não cede aos medicamentos</p>
      <p>Mudança na estrutura dos dentes pela respiração oral</p>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="others-third">
    <div class="third-left">
      <h1 class="desktop-only">PROCEDIMENTOS <br/><b>ASSOCIADOS</b></h1>
      <h1 class="mobile-only">PROCEDIMENTOS <b>ASSOCIADOS</b></h1>
      <p>Muitas vezes os pacientes necessitam realizar uma rinoplastia e/ou turbinectomia (remoção de cornetos nasais), concomitantemente ao desvio de septo.</p>
    </div>
    <div class="third-right">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo otorrinolaringologista.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
  </div>
</section>

{% include 'footer.njk' %}

<script>
  let selected = "otoneuro";
  const section = document.getElementById("otorrino");

  const desvio = document.getElementById("desvio");
  desvio.addEventListener("click", () => {
    resetSelection();
    selected = "desvio";
    desvio.classList.add("selected");
    updateSection();
  });
  
  const amigdalectomia = document.getElementById("amigdalectomia");
  amigdalectomia.addEventListener("click", () => {
    resetSelection();
    selected = "amigdalectomia";
    amigdalectomia.classList.add("selected");
    updateSection();
  });
  
  const fratura = document.getElementById("fratura");
  fratura.addEventListener("click", () => {
    resetSelection();
    selected = "fratura";
    fratura.classList.add("selected");
    updateSection();
  });
  
  const tubinectomia = document.getElementById("tubinectomia");
  tubinectomia.addEventListener("click", () => {
    resetSelection();
    selected = "tubinectomia";
    tubinectomia.classList.add("selected");
    updateSection();
  });

  const uvulo = document.getElementById("uvulo");
  uvulo.addEventListener("click", () => {
    resetSelection();
    selected = "uvulo";
    uvulo.classList.add("selected");
    updateSection();
  });
  const uvulos = document.getElementById("uvulos");
  uvulos.addEventListener("click", () => {
    resetSelection();
    selected = "uvulos";
    uvulo.classList.add("selected");
    updateSection();
  });

  const adenoidectomia = document.getElementById("adenoidectomia");
  adenoidectomia.addEventListener("click", () => {
    resetSelection();
    selected = "adenoidectomia";
    adenoidectomia.classList.add("selected");
    updateSection();
  });
  
  const sinusite = document.getElementById("sinusite");
  sinusite.addEventListener("click", () => {
    resetSelection();
    selected = "sinusite";
    sinusite.classList.add("selected");
    updateSection();
  });

  const adenoamigda = document.getElementById("adenoamigda");
  adenoamigda.addEventListener("click", () => {
    resetSelection();
    selected = "adenoamigda";
    adenoamigda.classList.add("selected");
    updateSection();
  });
  const adenoamigdas = document.getElementById("adenoamigdas");
  adenoamigdas.addEventListener("click", () => {
    resetSelection();
    selected = "adenoamigdas";
    adenoamigdas.classList.add("selected");
    updateSection();
  });

  function resetSelection() {
    const items = document.querySelectorAll(".selected");
    items.forEach((item) => item.classList.remove("selected"));
  }

  function updateSection() {

    switch(selected){
      case "desvio":
        section.innerHTML = `
        <div class="others-first">
    <div class="wrap-others">
      <div class="others-left">
        <h1>Desvio de Septo</h1>
        <div class="itens">
          <div class="item">
            <img src="../../img/pages/otorrino/septo.svg" alt="">
            <h3>Septo <br>normal</h3>
          </div>
          <div class="item">
            <img src="../../img/pages/otorrino/septo2.svg" alt="">
            <h3>Septo <br>com desvio</h3>
          </div>
        </div>
      </div>
      <div class="others-right">
        <p>Este é um procedimento feito para corrigir o desvio septal (parede que divide o nariz ao meio), removendo e reposicionando as porções de cartilagem ou osso que não estiverem centralizadas.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="bottom">
      <p>Tem duração de aproximadamente dez minutos, com os cirurgiões mais experientes, e um pós operatório sem dor, inchaço ou curativos.</p>
      <div class="wrap-respiratorias">
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/relogio.svg" alt="">
              <p>Cirurgia de rápida duração</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/anestesia.svg" alt="">
              <p>Anestesia local com sedação</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/tampoes.svg" alt="">
              <p>Sem uso de Tampões</p>
          </div>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>

    </div>
  </div>
  <div class="others-second">
    <h2>QUANDO FAZER?</span></h2>
    <p>Este é um procedimento que pode ser realizado para resolver diversas queixas e mudanças no nariz, como:</p>
    <div class="wrap-quando2">
      <p>Respiração bucal</p>
      <p>Roncos</p>
      <p>Rinite alérgica que não cede aos medicamentos</p>
      <p>Mudança na estrutura dos dentes pela respiração oral</p>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="others-third">
    <div class="third-left">
      <h1 class="desktop-only">PROCEDIMENTOS <br/><b>ASSOCIADOS</b></h1>
      <h1 class="mobile-only">PROCEDIMENTOS <b>ASSOCIADOS</b></h1>
      <p>Muitas vezes os pacientes necessitam realizar uma rinoplastia e/ou turbinectomia (remoção de cornetos nasais), concomitantemente ao desvio de septo.</p>
    </div>
    <div class="third-right">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo otorrinolaringologista.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
  </div>
        `
        break
      case "amigdalectomia":
        section.innerHTML = `
         <div class="others-first">
    <div class="wrap-others">
      <div class="others-left">
        <h1>Amigdalectomia</h1>
        <div class="itens">
          <div class="item">
            <img src="../../img/pages/otorrino/amigdalectomia.png" alt="">
          </div>
        </div>
      </div>
      <div class="others-right">
        <p>É a remoção das amígdalas palatinas quando estão hipertrofiadas, provocando roncos e prejudicando a respiração, ou quando acabam inflamando com frequência e demandando ciclos de medicamentos repetidamente.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="bottom">
      <p>Temos também indicação de remover nos adultos, quando as amígdalas formam casium, resíduos alimentares que se acumulam nestas estruturas provocando halitose.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>

    </div>
  </div>
  <div class="others-second">
    <h2>QUANDO FAZER?</span></h2>
    <p>Este é um procedimento que pode ser realizado para resolver diversas queixas:</p>
    <div class="wrap-quando">
      <p>Respiração bucal</p>
      <p>Roncos</p>
      <p>Infecções repetidas</p>
      <p>Casium (halitose)</p>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="others-third">
    <div class="third-left">
      <h1>PROCEDIMENTOS <br/><b>ASSOCIADOS</b></h1>
      <p>Muitas vezes os pacientes necessitam realizar uma rinoplastia e/ou turbinectomia (remoção de cornetos nasais), concomitantemente à amigdalectomia.</p>
    </div>
    <div class="third-right">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo otorrinolaringologista.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
  </div>
        `
        break
      case "fratura":
        section.innerHTML = `
         <div class="others-first">
    <div class="wrap-others">
      <div class="others-left">
        <h1>Redução de Fratura Nasal</h1>
      </div>
      <div class="others-right">
        <p>Um procedimento para realinhar a parte óssea do nariz, após traumas na face que resultem em fratura nasal.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="bottom">
      <p>É feito com anestesia local e sedação, rápida, sem cortes ou suturas e indolor no pós-operatório. </p>
      <div class="wrap-respiratorias">
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/relogio.svg" alt="">
              <p>10 minutos de duração</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/anestesia.svg" alt="">
              <p>Anestesia local com sedação</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/tampoes.svg" alt="">
              <p>Sem tamponamento<br>
                Curativo (tala) por 5 dias</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/ambulatorial.svg" alt="">
              <p>Ambulatorial</p>
          </div>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>

    </div>
  </div>
  <div class="others-third">
    <div class="third-left">
      <h1>PROCEDIMENTOS <br/><b>ASSOCIADOS</b></h1>
      <p>Muitas vezes os pacientes necessitam realizar uma septoplastia concomitantemente a redução de fratura nasal.</p>
    </div>
    <div class="third-right">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo otorrinolaringologista.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
  </div>
        `
        break
      case "tubinectomia":
        section.innerHTML = `
        <div class="others-first">
    <div class="wrap-others">
      <div class="others-left">
        <h1>Tubinectomia</h1>
      </div>
      <div class="others-right">
        <p>Com anestesia local e sedação, remove-se parte dos cornetos nasais, quando estes estão hipertrofiados.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="bottom">
      <p>É feito com anestesia local e sedação, rápida, sem cortes ou suturas e indolor no pós-operatório. </p>
      <div class="wrap-respiratorias">
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/relogio.svg" alt="">
              <p>10 minutos de duração</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/anestesia.svg" alt="">
              <p>Anestesia local com sedação</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/tampoes.svg" alt="">
              <p>Sem tamponamento</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/ambulatorial.svg" alt="">
              <p>Ambulatorial</p>
          </div>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>

    </div>
  </div>
  <div class="others-second">
    <h2>QUANDO FAZER?</span></h2>
    <p>Este é um procedimento que pode ser realizado para resolver diversas queixas:</p>
    <div class="wrap-quando2">
      <p>Respiração bucal</p>
      <p>Roncos</p>
      <p>Rinite alérgica que não cede aos medicamentos</p>
      <p>Mudança na estrutura dos dentes pela respiração oral</p>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="others-third">
    <div class="third-left">
      <h1>PROCEDIMENTOS <br/><b>ASSOCIADOS</b></h1>
      <p>Muitas vezes os pacientes necessitam realizar uma rinoplastia e/ou septoplastia (remoção de cornetos nasais), concomitantemente à tubinectomia.</p>
    </div>
    <div class="third-right">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo otorrinolaringologista.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
  </div>
        `
        break
      case "uvulo":
        section.innerHTML = `
        <div class="others-first">
    <div class="wrap-others">
      <div class="others-left" style="align-items: center;">
        <h1 style="font-size: 3.6rem;" >Uvulopalatofaringoplastia</h1>
        <div class="itens">
          <div class="item">
            <img src="../../img/pages/otorrino/uvulo.png" alt="">
          </div>
        </div>
      </div>
      <div class="others-right">
        <p>Muitos pacientes sofrem com ronco e apneia. E isto pode ser provocado pela região da garganta, quando ela está mais estreita ou flácida, prejudicando o fluxo de ar.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="bottom">
      <p>É feito com anestesia local e sedação, rápida, sem cortes ou suturas e indolor no pós-operatório. </p>
      <div class="wrap-respiratorias">
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/relogio.svg" alt="">
              <p>10 minutos de duração</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/anestesia.svg" alt="">
              <p>Anestesia local com sedação</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/hospital.svg" alt="">
              <p>Hospital dia</p>
          </div>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper" >Agendar Avaliação</a>
    </div>
  </div>
  <div class="others-second">
    <h2>QUANDO FAZER?</span></h2>
    <p>Este é um procedimento que pode ser realizado para resolver diversas queixas:</p>
    <div class="wrap-quando">
      <p>Ronco</p>
      <p>Apneia</p>
      <p>Sonolência diurna</p>
      <p>Sono não reparador</p>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="others-third">
    <div class="third-left">
      <h1>PROCEDIMENTOS <br/><b>ASSOCIADOS</b></h1>
      <p>Muitas vezes os pacientes necessitam realizar uma rinoplastia e/ou septoplastia (remoção de cornetos nasais), concomitantemente à tubinectomia.</p>
    </div>
    <div class="third-right">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo otorrinolaringologista.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
  </div>
        `
        break
      case "uvulos":
        section.innerHTML = `
        <div class="others-first">
    <div class="wrap-others">
      <div class="others-left" style="align-items: center;">
        <h1 style="font-size: 2.4rem;" >Uvulopalatofaringoplastia</h1>
        <div class="itens">
          <div class="item">
            <img src="../../img/pages/otorrino/uvulo.png" alt="">
          </div>
        </div>
      </div>
      <div class="others-right">
        <p>Muitos pacientes sofrem com ronco e apneia. E isto pode ser provocado pela região da garganta, quando ela está mais estreita ou flácida, prejudicando o fluxo de ar.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="bottom">
      <p>É feito com anestesia local e sedação, rápida, sem cortes ou suturas e indolor no pós-operatório. </p>
      <div class="wrap-respiratorias">
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/relogio.svg" alt="">
              <p>10 minutos de duração</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/anestesia.svg" alt="">
              <p>Anestesia local com sedação</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/hospital.svg" alt="">
              <p>Hospital dia</p>
          </div>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper" >Agendar Avaliação</a>
    </div>
  </div>
  <div class="others-second">
    <h2>QUANDO FAZER?</span></h2>
    <p>Este é um procedimento que pode ser realizado para resolver diversas queixas:</p>
    <div class="wrap-quando">
      <p>Ronco</p>
      <p>Apneia</p>
      <p>Sonolência diurna</p>
      <p>Sono não reparador</p>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="others-third">
    <div class="third-left">
      <h1>PROCEDIMENTOS <br/><b>ASSOCIADOS</b></h1>
      <p>Muitas vezes os pacientes necessitam realizar uma rinoplastia e/ou septoplastia (remoção de cornetos nasais), concomitantemente à tubinectomia.</p>
    </div>
    <div class="third-right">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo otorrinolaringologista.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
  </div>
        `
        break
      case "adenoidectomia":
        section.innerHTML = `
          <div class="others-first">
    <div class="wrap-others">
      <div class="others-left">
        <h1>Adenoidectomia</h1>
        <div class="itens">
          <div class="item">
            <img src="../../img/pages/otorrino/adenoide.svg" alt="">
          </div>
        </div>
      </div>
      <div class="others-right">
        <p>É um procedimento para curetagem (raspagem) da adenóide nos pacientes que tem esta estrutura hipertrofiada, interrompendo o fluxo de ar pelo nariz, provocando roncos e nariz trancado.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="bottom">
      <p>É feita a partir de 1 ano e meio de idade, com anestesia geral e curta duração (10 minutos). O paciente faz em regime de Hospital Dia, sem necessidade de pernoite no hospital.</p>
      <div class="wrap-respiratorias">
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/relogio.svg" alt="">
              <p>10 minutos de duração</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/geral.svg" alt="">
              <p>Anestesia geral</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/tampoes.svg" alt="">
              <p>Sem tamponamento</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/ambulatorial.svg" alt="">
              <p>Ambulatorial</p>
          </div>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper" >Agendar Avaliação</a>
    </div>
  </div>
  <div class="others-second">
    <h2>QUANDO FAZER?</span></h2>
    <p>Este é um procedimento que pode ser realizado para resolver diversas queixas:</p>
    <div class="wrap-quando">
      <p>Respiração bucal</p>
      <p>Roncos</p>
      <p>Congestão nasal</p>
    </div>
    <a
      href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor."
      class="begeButton upper"
      >Agendar Avaliação</a
    >
  </div>
  <div class="others-third">
    <div class="third-left">
      <h1><b>RECUPERAÇÃO</b></h1>
      <p>O paciente precisa evitar alimentos quentes, e não fazer esforço físico. O pós-operatório é indolor.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
  </div>
        `
        break
      case "sinusite":
        section.innerHTML = `
         <div class="others-first">
    <div class="wrap-others">
      <div class="others-left">
        <h1>sinusite (fess)</h1>
        <div class="itens">
          <div class="item">
            <img src="../../img/pages/otorrino/sinusite.png" alt="">
          </div>
        </div>
      </div>
      <div class="others-right">
        <p>A cirurgia endoscópica dos seios nasais é feita para quem sofre com sinusite crônica. Retiramos a secreção acumulada nestes seios, além de abrir e ampliar a comunicação entre os seios e a cavidade nasal para que não se acumule mais esta secreção.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
    <div class="bottom">
      <p>É feita em regime de Hospital Dia, com anestesia local e sedação, e tem duração de aproximadamente uma hora.</p>
      <div class="wrap-respiratorias">
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/relogio.svg" alt="">
              <p>1 hora de duração</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/anestesia.svg" alt="">
              <p>Anestesia local com sedação</p>
          </div>
          <div class="item-respiratorias">
              <img src="../img/pages/otorrino/hospital.svg" alt="">
              <p>Hospital Dia</p>
          </div>
      </div>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>

    </div>
  </div>
  <div class="others-second">
    <h2>RECUPERAÇÃO</span></h2>
    <div class="wrap-quando">
      <p>Indolor</p>
      <p>Sem curativos</p>
    </div>
  </div>
  <div class="others-third">
    <div class="third-left">
      <h1>PROCEDIMENTOS <br><b>ASSOCIADOS</b></h1>
      <p>Muitas vezes os pacientes necessitam realizar uma septoplastia e/ou turbinectomia (remoção de cornetos nasais), concomitantemente  cirurgia endoscópica dos seios nasais.</p>
    </div>
    <div class="third-right">
      <p>Isso não muda a extensão da cirurgia e é fundamental o correto diagnóstico e programacão cirurgica pelo otorrinolaringologista.</p>
      <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
    </div>
  </div>
        `
        break
      case "adenoamigda":
        section.innerHTML = `
        <div class="others-first">
    <div class="wrap-others">
      <div class="others-left">
        <h1>Adenoamigdalectomia</h1>
      </div>
      <div class="others-right">
        <p>É a associação entre a Adenoidectomia e Amigdalectomia no mesmo procedimento.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
   
  </div>
        `
        break
      case "adenoamigdas":
        section.innerHTML = `
        <div class="others-first">
    <div class="wrap-others">
      <div class="others-left">
        <h1>Adenoamigdalectomia</h1>
      </div>
      <div class="others-right">
        <p>É a associação entre a Adenoidectomia e Amigdalectomia no mesmo procedimento.</p>
        <a href="https://wa.me/5541991151500?text=Ol%C3%A1,%20estava%20no%20site%20da%20Novva%20Otorrino%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es,%20por%20favor." class="begeButton upper">Agendar Avaliação</a>
      </div>
    </div>
   
  </div>
        `
        break
      }
  }
</script>
